In [1]:
import pandas as pd
import numpy as np
import sklearn

In [2]:
# 表 1：2015 年 12 月之前的在线用户行为。（ijcai2016_taobao） 
"""
User_id:唯一用户id
Seller_id:唯一卖家id
Item_id:唯一商品id
Category_id:唯一类别 ID 
Online_Action_id:“0”表示“点击”，“1”表示“购买” 
Time_Stamp:日期
"""
df1 = pd.read_csv('ijcai2016_taobao.csv',header=1,usecols=['use_ID','sel_ID','ite_ID','cat_ID','act_ID','time'])
df1.use_ID = df1.use_ID.astype(str)
df1.ite_ID = df1.ite_ID.astype(str)
df1.act_ID = df1.act_ID.astype(str)
df1.sel_ID = df1.sel_ID.astype(str)
df1 = df1.rename(columns={'time\n':'time'})
df1.head()

    use_ID sel_ID   ite_ID  cat_ID act_ID      time
0  1980536   9666  1450952       1      0  20150826
1  1980536   9666  1450952       1      0  20150826
2   647747   9666  1450952       1      0  20150915
3  1980536   9666  1450952       1      0  20150823
4   183647   9525   578730       1      0  20150711

In [3]:
df1['time'] = pd.to_datetime(df1['time'],format='%Y%m%d', errors='ignore')
df1

        use_ID sel_ID   ite_ID  cat_ID act_ID       time
0      1980536   9666  1450952       1      0 2015-08-26
1      1980536   9666  1450952       1      0 2015-08-26
2       647747   9666  1450952       1      0 2015-09-15
3      1980536   9666  1450952       1      0 2015-08-23
4       183647   9525   578730       1      0 2015-07-11
5       723956    589    28301       1      0 2015-08-25
6      1781938    589    28301       1      0 2015-07-24
7      1652831    589  1533782       1      0 2015-07-02
8       416403   2316  1129278       1      0 2015-10-06
9        43130   4058  1745953       1      0 2015-10-19
10      502518   4058  1745953       1      0 2015-09-02
11      109400   4058  1745953       1      0 2015-10-10
12      488933   4058  1745953       1      0 2015-10-28
13      488933   4058  1745953       1      0 2015-10-28
14     1023483   4058  1745953       1      0 2015-10-29
15      786586   4058  1745953       1      0 2015-10-11
16     1554927   4058  1745953       1      0 2015-08-31
17      109400   4058  1745953       1      0 2015-10-10
18     1023483   4058  1745953       1      0 2015-10-28
19      958173   4058  1745953       1      0 2015-08-21
20      208174   4058  1745953       1      0 2015-10-10
21      109400   4058  1745953       1      0 2015-10-03
22     1004531   4058  1745953       1      0 2015-09-02
23     1651174   4058  1745953       1      0 2015-10-10
24      109400   4058  1745953       1      0 2015-10-03
25      208174   4058  1745953       1      0 2015-10-10
26      194706   4058  1745953       1      0 2015-10-11
27      194706   4058  1745953       1      0 2015-10-11
28      445860   4058  1745953       1      0 2015-08-22
29     1158774   4058  1745953       1      0 2015-10-03
...        ...    ...      ...     ...    ...        ...
65504  1638514   2258  1587428       1      0 2015-08-12
65505  1466184   2258  1587428       1      1 2015-08-24
65506  1466184   2258  1587428       1      0 2015-08-21
65507  1466184   2258  1587428       1      0 2015-08-21
65508  1466184   2258  1587428       1      0 2015-08-21
65509  2010376   2258  1587428       1      0 2015-07-21
65510   234816   2258  1587428       1      0 2015-07-29
65511  2032370   2258  1587428       1      0 2015-08-16
65512   536448   2258  1587428       1      0 2015-08-04
65513  1541354   2258  1587428       1      0 2015-09-14
65514  1768541   2258  1587428       1      0 2015-09-26
65515   885675   2258  1587428       1      0 2015-07-15
65516   335839   2258  1587428       1      0 2015-08-07
65517   685420   2258  1587428       1      0 2015-09-24
65518  1363938   2258  1587428       1      0 2015-07-15
65519  1363938   2258  1587428       1      0 2015-07-15
65520    99840   2258  1587428       1      0 2015-07-10
65521   943339   2258  1587428       1      0 2015-09-01
65522  1378658   2258  1587428       1      0 2015-07-23
65523  1031005   2258  1587428       1      0 2015-07-18
65524  1031005   2258  1587428       1      0 2015-07-18
65525    33453   2258  1587428       1      1 2015-07-13
65526   113452   2258  1587428       1      0 2015-07-03
65527   360093   2258  1587428       1      0 2015-07-05
65528   355374   2258  1587428       1      0 2015-09-10
65529   355374   2258  1587428       1      0 2015-08-19
65530   355374   2258  1587428       1      0 2015-07-23
65531   355374   2258  1587428       1      0 2015-10-30
65532    33453   2258  1587428       1      0 2015-07-16
65533  1392741   2258  1587428       1      0 2015-08-25

[65534 rows x 6 columns]

In [4]:
# 2015 年 12 月之前用户在实体店的购物记录。 (ijcai2016_koubei_train)
"""
User_id:唯一用户id
Merchant_id：唯一卖家id
Location_id：唯一位置id
Time_Stamp:日期
"""

df2  = pd.read_csv('ijcai2016_koubei_train.csv')
df2.use_ID = df2.use_ID.astype(str)
df2.mer_ID = df2.mer_ID.astype(str)
df2.loc_ID = df2.loc_ID.astype(str)
df2 = df2.rename(columns={'time\n':'time'})
df2.head()

    use_ID mer_ID loc_ID      time
0  1027765   4822    172  20151028
1   141398   4822    172  20151115
2   141398   4822    172  20151005
3  1027765   4822    172  20151026
4   141398   4822    172  20151011

In [5]:
df2['time'] = pd.to_datetime(df2['time'],format='%Y%m%d', errors='ignore')
# df2.sort_values("time",inplace=True)
df2

          use_ID mer_ID loc_ID       time
0        1027765   4822    172 2015-10-28
1         141398   4822    172 2015-11-15
2         141398   4822    172 2015-10-05
3        1027765   4822    172 2015-10-26
4         141398   4822    172 2015-10-11
5         141398   4822    172 2015-11-02
6         141398   4822    172 2015-10-16
7         116247   4822    172 2015-09-25
8         881482   4822    172 2015-11-29
9         859759   4822    172 2015-10-25
10        859759   4822    172 2015-11-09
11         24150   4822    172 2015-10-03
12         24150   4822    172 2015-10-02
13         24150   4822    172 2015-09-28
14         24150   4822    172 2015-09-27
15         24150   4822    172 2015-09-26
16        141398   4822    172 2015-10-05
17         24150   4822    172 2015-10-03
18       1099755   4822    172 2015-10-22
19       1099755   4822    172 2015-10-27
20       1027765   4822    172 2015-10-07
21       1099755   4822    172 2015-09-26
22       1024353   4822    172 2015-10-19
23       1017138   7272    172 2015-10-15
24       1975225   9399    172 2015-07-14
25       1975225   9399    172 2015-07-28
26       1975225   9399    172 2015-08-03
27        640748   6540    172 2015-11-01
28        357648   6540    172 2015-10-26
29       1765014   6540    172 2015-11-16
...          ...    ...    ...        ...
1048545   685889   5530    441 2015-08-17
1048546   685889   5530    441 2015-10-10
1048547   685889   5530    441 2015-11-10
1048548  1509807   5530    441 2015-08-02
1048549  1509807   5530    441 2015-08-31
1048550  1509807   5530    441 2015-11-20
1048551  1480133   5530    441 2015-10-08
1048552  1480133   5530    441 2015-11-06
1048553   881265   5530    441 2015-11-08
1048554   881265   5530    441 2015-11-10
1048555   881265   5530    441 2015-11-17
1048556   881265   5530    441 2015-11-09
1048557   881265   5530    441 2015-11-18
1048558   881265   5530    441 2015-11-18
1048559   881265   5530    441 2015-11-03
1048560   881265   5530    441 2015-11-25
1048561   881265   5530    441 2015-11-19
1048562   881265   5530    441 2015-11-02
1048563  1680317   5530    441 2015-11-28
1048564  1111072   5530    441 2015-11-18
1048565  1050651   5530    441 2015-10-24
1048566   271392   5530    441 2015-10-26
1048567   271392   5530    441 2015-10-22
1048568   271392   5530    441 2015-11-09
1048569   271392   5530    441 2015-11-01
1048570   271392   5530    441 2015-11-17
1048571   271392   5530    441 2015-11-17
1048572   271392   5530    441 2015-11-12
1048573   271392   5530    441 2015-11-13
1048574   271392   5530    441 2015-11-14

[1048575 rows x 4 columns]

In [6]:
# 每一个地址对应多个商家
df2.groupby(by='loc_ID')['use_ID'].nunique().mean()

539.6605922551253

In [7]:
# 合并出来一个表，包括所有用户的线上和线下记录
df = df2[['use_ID','mer_ID','time']].rename(columns={'mer_ID':'sel_ID'})
df['act_ID'] = '1'
df = pd.concat([df1[['use_ID','sel_ID','act_ID','time']],df],axis=0)
df

/home/jiangsir/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  after removing the cwd from sys.path.

        act_ID sel_ID       time   use_ID
0            0   9666 2015-08-26  1980536
1            0   9666 2015-08-26  1980536
2            0   9666 2015-09-15   647747
3            0   9666 2015-08-23  1980536
4            0   9525 2015-07-11   183647
5            0    589 2015-08-25   723956
6            0    589 2015-07-24  1781938
7            0    589 2015-07-02  1652831
8            0   2316 2015-10-06   416403
9            0   4058 2015-10-19    43130
10           0   4058 2015-09-02   502518
11           0   4058 2015-10-10   109400
12           0   4058 2015-10-28   488933
13           0   4058 2015-10-28   488933
14           0   4058 2015-10-29  1023483
15           0   4058 2015-10-11   786586
16           0   4058 2015-08-31  1554927
17           0   4058 2015-10-10   109400
18           0   4058 2015-10-28  1023483
19           0   4058 2015-08-21   958173
20           0   4058 2015-10-10   208174
21           0   4058 2015-10-03   109400
22           0   4058 2015-09-02  1004531
23           0   4058 2015-10-10  1651174
24           0   4058 2015-10-03   109400
25           0   4058 2015-10-10   208174
26           0   4058 2015-10-11   194706
27           0   4058 2015-10-11   194706
28           0   4058 2015-08-22   445860
29           0   4058 2015-10-03  1158774
...        ...    ...        ...      ...
1048545      1   5530 2015-08-17   685889
1048546      1   5530 2015-10-10   685889
1048547      1   5530 2015-11-10   685889
1048548      1   5530 2015-08-02  1509807
1048549      1   5530 2015-08-31  1509807
1048550      1   5530 2015-11-20  1509807
1048551      1   5530 2015-10-08  1480133
1048552      1   5530 2015-11-06  1480133
1048553      1   5530 2015-11-08   881265
1048554      1   5530 2015-11-10   881265
1048555      1   5530 2015-11-17   881265
1048556      1   5530 2015-11-09   881265
1048557      1   5530 2015-11-18   881265
1048558      1   5530 2015-11-18   881265
1048559      1   5530 2015-11-03   881265
1048560      1   5530 2015-11-25   881265
1048561      1   5530 2015-11-19   881265
1048562      1   5530 2015-11-02   881265
1048563      1   5530 2015-11-28  1680317
1048564      1   5530 2015-11-18  1111072
1048565      1   5530 2015-10-24  1050651
1048566      1   5530 2015-10-26   271392
1048567      1   5530 2015-10-22   271392
1048568      1   5530 2015-11-09   271392
1048569      1   5530 2015-11-01   271392
1048570      1   5530 2015-11-17   271392
1048571      1   5530 2015-11-17   271392
1048572      1   5530 2015-11-12   271392
1048573      1   5530 2015-11-13   271392
1048574      1   5530 2015-11-14   271392

[1114109 rows x 4 columns]

In [8]:
df[pd.isnull(df.time)]

Empty DataFrame
Columns: [act_ID, sel_ID, time, use_ID]
Index: []

In [9]:
df.act_ID.unique()

array(['0', '1'], dtype=object)

In [10]:
# 商家-感兴趣的人数；商家人气
df.loc[df.act_ID=='1'].groupby(by='sel_ID').count()['use_ID']

sel_ID
1         41
10       128
100        3
1003       9
1004      13
1005       9
1006       4
101       39
1010      69
1012     978
1014     654
1015       2
1016     236
1018       6
1019       3
102       25
1020       6
1023     170
1024       2
1025       8
1026       3
1028       1
1029     249
103       13
1032      37
1033     139
1034       9
1035       3
1038      14
1039       1
        ...
9962       4
9963       3
9964      26
9965       2
9966      13
9967      16
9968    5380
997        7
9970       1
9972      46
9973       3
9974      96
9975       8
9977      95
9978       3
9979     113
998       78
9980       9
9984       5
9985      10
9986       1
9987       5
9989      22
9990       3
9993       1
9994       4
9995       2
9996     244
9997      57
9999      12
Name: use_ID, Length: 5836, dtype: int64

In [11]:
df2.loc[df2.use_ID=='2063588']

         use_ID mer_ID loc_ID       time
202164  2063588    820      6 2015-11-08
202165  2063588    820      6 2015-11-09
202166  2063588    820      6 2015-11-06
202167  2063588    820      6 2015-11-22
202168  2063588    820      6 2015-11-21
202169  2063588    820      6 2015-11-12
202170  2063588    820      6 2015-11-07
202171  2063588    820      6 2015-11-30
202172  2063588    820      6 2015-11-10
202173  2063588    820      6 2015-11-05
202174  2063588    820      6 2015-11-29
202175  2063588    820      6 2015-11-13
202176  2063588    820      6 2015-11-24
202177  2063588    820      6 2015-11-11

In [12]:
# 用户-线下商家购物-购物次数
dff = df2.groupby(by=["use_ID", "mer_ID"]).count()
dff

                loc_ID  time
use_ID  mer_ID
1000004 4876         5     5
1000005 2606         5     5
100002  4264         7     7
        4796         1     1
1000021 456          6     6
1000041 820          1     1
1000047 4264         5     5
1000048 2606         3     3
        820         10    10
100005  473          2     2
        7755         2     2
1000053 820         16    16
1000056 8817         1     1
        9968        11    11
1000058 3498         3     3
1000075 9397         1     1
1000087 2085         1     1
        7682         1     1
1000093 3727         6     6
        550          2     2
1000112 5530         1     1
1000121 7667         1     1
1000123 60          11    11
1000125 1492         5     5
1000144 9236         1     1
1000149 5232         1     1
1000179 898          1     1
100018  1433         1     1
1000186 6803         1     1
1000207 2833         6     6
...                ...   ...
999838  7682         1     1
999855  8817         1     1
999861  233          1     1
999864  7042         4     4
999866  4641         1     1
999870  9485         1     1
999879  4264         1     1
99988   2606         1     1
        820          1     1
999890  820         11    11
999916  8479         1     1
999917  192          2     2
999925  569          2     2
999927  4796         1     1
        6697         2     2
        8091         1     1
999931  4944         1     1
        5714         1     1
        6808         1     1
        7916         1     1
        8275         1     1
999937  5231         2     2
999960  3227         6     6
999967  820          4     4
99998   4264         1     1
        820         11    11
999988  1978        11    11
        7682         2     2
999991  9092         4     4
999992  4508        21    21

[296124 rows x 2 columns]

In [59]:
dff.to_dict(orient="index")

{(4, 3527): {'loc_ID': 1, 'time\n': 1},
 (22, 4264): {'loc_ID': 2, 'time\n': 2},
 (38, 820): {'loc_ID': 2, 'time\n': 2},
 (42, 820): {'loc_ID': 2, 'time\n': 2},
 (46, 9236): {'loc_ID': 1, 'time\n': 1},
 (55, 820): {'loc_ID': 1, 'time\n': 1},
 (89, 7667): {'loc_ID': 4, 'time\n': 4},
 (97, 3538): {'loc_ID': 5, 'time\n': 5},
 (108, 8646): {'loc_ID': 4, 'time\n': 4},
 (114, 5231): {'loc_ID': 2, 'time\n': 2},
 (123, 7755): {'loc_ID': 5, 'time\n': 5},
 (128, 9485): {'loc_ID': 1, 'time\n': 1},
 (129, 210): {'loc_ID': 1, 'time\n': 1},
 (136, 7194): {'loc_ID': 8, 'time\n': 8},
 (136, 7312): {'loc_ID': 1, 'time\n': 1},
 (159, 221): {'loc_ID': 5, 'time\n': 5},
 (159, 8898): {'loc_ID': 1, 'time\n': 1},
 (161, 7682): {'loc_ID': 1, 'time\n': 1},
 (165, 5231): {'loc_ID': 1, 'time\n': 1},
 (171, 959): {'loc_ID': 3, 'time\n': 3},
 (178, 820): {'loc_ID': 3, 'time\n': 3},
 (189, 9968): {'loc_ID': 1, 'time\n': 1},
 (192, 299): {'loc_ID': 2, 'time\n': 2},
 (192, 8230): {'loc_ID': 5, 'time\n': 5},
 (192, 9485): {'loc_ID': 1, 'time\n': 1},
 (201, 1506): {'loc_ID': 1, 'time\n': 1},
 (205, 38): {'loc_ID': 1, 'time\n': 1},
 (205, 820): {'loc_ID': 2, 'time\n': 2},
 (205, 963): {'loc_ID': 1, 'time\n': 1},
 (205, 2595): {'loc_ID': 3, 'time\n': 3},
 (205, 4356): {'loc_ID': 3, 'time\n': 3},
 (205, 7593): {'loc_ID': 1, 'time\n': 1},
 (205, 8909): {'loc_ID': 1, 'time\n': 1},
 (206, 2466): {'loc_ID': 2, 'time\n': 2},
 (206, 2606): {'loc_ID': 3, 'time\n': 3},
 (226, 8898): {'loc_ID': 12, 'time\n': 12},
 (234, 221): {'loc_ID': 2, 'time\n': 2},
 (234, 8898): {'loc_ID': 9, 'time\n': 9},
 (235, 931): {'loc_ID': 1, 'time\n': 1},
 (251, 7574): {'loc_ID': 1, 'time\n': 1},
 (262, 820): {'loc_ID': 5, 'time\n': 5},
 (273, 2391): {'loc_ID': 1, 'time\n': 1},
 (275, 446): {'loc_ID': 4, 'time\n': 4},
 (279, 2857): {'loc_ID': 1, 'time\n': 1},
 (289, 5530): {'loc_ID': 5, 'time\n': 5},
 (296, 232): {'loc_ID': 1, 'time\n': 1},
 (296, 235): {'loc_ID': 1, 'time\n': 1},
 (296, 6784): {'loc_ID': 1, 'time\n': 1},
 (297, 5428): {'loc_ID': 1, 'time\n': 1},
 (338, 8817): {'loc_ID': 1, 'time\n': 1},
 (343, 585): {'loc_ID': 1, 'time\n': 1},
 (346, 278): {'loc_ID': 1, 'time\n': 1},
 (346, 473): {'loc_ID': 1, 'time\n': 1},
 (346, 1061): {'loc_ID': 1, 'time\n': 1},
 (346, 5231): {'loc_ID': 2, 'time\n': 2},
 (348, 5231): {'loc_ID': 1, 'time\n': 1},
 (359, 820): {'loc_ID': 3, 'time\n': 3},
 (359, 2606): {'loc_ID': 1, 'time\n': 1},
 (364, 299): {'loc_ID': 12, 'time\n': 12},
 (364, 2641): {'loc_ID': 5, 'time\n': 5},
 (364, 8911): {'loc_ID': 1, 'time\n': 1},
 (369, 2800): {'loc_ID': 2, 'time\n': 2},
 (382, 9485): {'loc_ID': 4, 'time\n': 4},
 (414, 4264): {'loc_ID': 4, 'time\n': 4},
 (424, 7682): {'loc_ID': 4, 'time\n': 4},
 (430, 5530): {'loc_ID': 5, 'time\n': 5},
 (452, 220): {'loc_ID': 14, 'time\n': 14},
 (456, 7755): {'loc_ID': 2, 'time\n': 2},
 (480, 93): {'loc_ID': 1, 'time\n': 1},
 (480, 401): {'loc_ID': 1, 'time\n': 1},
 (480, 6152): {'loc_ID': 2, 'time\n': 2},
 (486, 2089): {'loc_ID': 6, 'time\n': 6},
 (486, 5258): {'loc_ID': 3, 'time\n': 3},
 (492, 195): {'loc_ID': 6, 'time\n': 6},
 (492, 7682): {'loc_ID': 1, 'time\n': 1},
 (523, 8489): {'loc_ID': 1, 'time\n': 1},
 (534, 6922): {'loc_ID': 5, 'time\n': 5},
 (548, 820): {'loc_ID': 1, 'time\n': 1},
 (552, 115): {'loc_ID': 3, 'time\n': 3},
 (557, 2125): {'loc_ID': 19, 'time\n': 19},
 (566, 5231): {'loc_ID': 2, 'time\n': 2},
 (571, 8817): {'loc_ID': 1, 'time\n': 1},
 (572, 820): {'loc_ID': 16, 'time\n': 16},
 (577, 820): {'loc_ID': 5, 'time\n': 5},
 (579, 424): {'loc_ID': 6, 'time\n': 6},
 (587, 5231): {'loc_ID': 1, 'time\n': 1},
 (593, 538): {'loc_ID': 1, 'time\n': 1},
 (593, 8619): {'loc_ID': 2, 'time\n': 2},
 (598, 3261): {'loc_ID': 3, 'time\n': 3},
 (603, 8817): {'loc_ID': 1, 'time\n': 1},
 (607, 3384): {'loc_ID': 1, 'time\n': 1},
 (614, 1347): {'loc_ID': 2, 'time\n': 2},
 (618, 7755): {'loc_ID': 3, 'time\n': 3},
 (627, 4509): {'loc_ID': 4, 'time\n': 4},
 (628, 3593): {'loc_ID': 2, 'time\n': 2},
 (632, 590): {'loc_ID': 1, 'time\n': 1},
 (632, 4775): {'loc_ID': 4, 'time\n': 4},
 (632, 5081): {'loc_ID': 6, 'time\n': 6},
 (647, 820): {'loc_ID': 6, 'time\n': 6},
 (647, 6602): {'loc_ID': 3, 'time\n': 3},
 (656, 820): {'loc_ID': 2, 'time\n': 2},
 (657, 760): {'loc_ID': 5, 'time\n': 5},
 (657, 820): {'loc_ID': 15, 'time\n': 15},
 (670, 9148): {'loc_ID': 1, 'time\n': 1},
 (673, 5231): {'loc_ID': 5, 'time\n': 5},
 (674, 2466): {'loc_ID': 5, 'time\n': 5},
 (674, 8463): {'loc_ID': 1, 'time\n': 1},
 (691, 5231): {'loc_ID': 1, 'time\n': 1},
 (696, 115): {'loc_ID': 1, 'time\n': 1},
 (696, 573): {'loc_ID': 1, 'time\n': 1},
 (705, 820): {'loc_ID': 1, 'time\n': 1},
 (709, 9994): {'loc_ID': 3, 'time\n': 3},
 (736, 824): {'loc_ID': 8, 'time\n': 8},
 (747, 820): {'loc_ID': 6, 'time\n': 6},
 (747, 6697): {'loc_ID': 2, 'time\n': 2},
 (753, 5530): {'loc_ID': 5, 'time\n': 5},
 (753, 7682): {'loc_ID': 2, 'time\n': 2},
 (764, 5231): {'loc_ID': 1, 'time\n': 1},
 (765, 5999): {'loc_ID': 2, 'time\n': 2},
 (786, 1503): {'loc_ID': 1, 'time\n': 1},
 (786, 5315): {'loc_ID': 1, 'time\n': 1},
 (786, 5530): {'loc_ID': 4, 'time\n': 4},
 (786, 7068): {'loc_ID': 1, 'time\n': 1},
 (795, 820): {'loc_ID': 1, 'time\n': 1},
 (798, 4654): {'loc_ID': 3, 'time\n': 3},
 (824, 8630): {'loc_ID': 13, 'time\n': 13},
 (827, 9702): {'loc_ID': 1, 'time\n': 1},
 (829, 7916): {'loc_ID': 1, 'time\n': 1},
 (829, 8898): {'loc_ID': 13, 'time\n': 13},
 (832, 5231): {'loc_ID': 2, 'time\n': 2},
 (843, 820): {'loc_ID': 5, 'time\n': 5},
 (849, 820): {'loc_ID': 3, 'time\n': 3},
 (867, 5530): {'loc_ID': 10, 'time\n': 10},
 (867, 8256): {'loc_ID': 1, 'time\n': 1},
 (870, 6358): {'loc_ID': 13, 'time\n': 13},
 (873, 334): {'loc_ID': 2, 'time\n': 2},
 (873, 4264): {'loc_ID': 1, 'time\n': 1},
 (893, 594): {'loc_ID': 4, 'time\n': 4},
 (897, 6900): {'loc_ID': 2, 'time\n': 2},
 (900, 8902): {'loc_ID': 1, 'time\n': 1},
 (909, 7710): {'loc_ID': 3, 'time\n': 3},
 (911, 5231): {'loc_ID': 1, 'time\n': 1},
 (918, 5231): {'loc_ID': 1, 'time\n': 1},
 (922, 5530): {'loc_ID': 1, 'time\n': 1},
 (930, 820): {'loc_ID': 1, 'time\n': 1},
 (930, 5244): {'loc_ID': 1, 'time\n': 1},
 (937, 8817): {'loc_ID': 1, 'time\n': 1},
 (939, 820): {'loc_ID': 1, 'time\n': 1},
 (952, 8949): {'loc_ID': 7, 'time\n': 7},
 (962, 5651): {'loc_ID': 2, 'time\n': 2},
 (964, 1536): {'loc_ID': 3, 'time\n': 3},
 (964, 3498): {'loc_ID': 7, 'time\n': 7},
 (968, 5231): {'loc_ID': 1, 'time\n': 1},
 (969, 5231): {'loc_ID': 5, 'time\n': 5},
 (971, 2606): {'loc_ID': 1, 'time\n': 1},
 (978, 5530): {'loc_ID': 42, 'time\n': 42},
 (1019, 221): {'loc_ID': 2, 'time\n': 2},
 (1019, 8898): {'loc_ID': 22, 'time\n': 22},
 (1042, 3045): {'loc_ID': 10, 'time\n': 10},
 (1043, 115): {'loc_ID': 3, 'time\n': 3},
 (1047, 4242): {'loc_ID': 6, 'time\n': 6},
 (1048, 820): {'loc_ID': 4, 'time\n': 4},
 (1048, 5231): {'loc_ID': 1, 'time\n': 1},
 (1071, 1272): {'loc_ID': 9, 'time\n': 9},
 (1071, 2232): {'loc_ID': 1, 'time\n': 1},
 (1071, 5208): {'loc_ID': 2, 'time\n': 2},
 (1074, 4456): {'loc_ID': 2, 'time\n': 2},
 (1081, 5389): {'loc_ID': 4, 'time\n': 4},
 (1084, 3261): {'loc_ID': 1, 'time\n': 1},
 (1084, 4158): {'loc_ID': 1, 'time\n': 1},
 (1089, 2822): {'loc_ID': 1, 'time\n': 1},
 (1093, 764): {'loc_ID': 14, 'time\n': 14},
 (1107, 80): {'loc_ID': 1, 'time\n': 1},
 (1112, 9882): {'loc_ID': 2, 'time\n': 2},
 (1114, 4629): {'loc_ID': 15, 'time\n': 15},
 (1119, 1556): {'loc_ID': 1, 'time\n': 1},
 (1122, 331): {'loc_ID': 4, 'time\n': 4},
 (1122, 398): {'loc_ID': 1, 'time\n': 1},
 (1122, 5530): {'loc_ID': 1, 'time\n': 1},
 (1127, 5428): {'loc_ID': 9, 'time\n': 9},
 (1127, 5530): {'loc_ID': 1, 'time\n': 1},
 (1128, 5530): {'loc_ID': 3, 'time\n': 3},
 (1142, 4073): {'loc_ID': 1, 'time\n': 1},
 (1158, 1969): {'loc_ID': 7, 'time\n': 7},
 (1162, 820): {'loc_ID': 16, 'time\n': 16},
 (1162, 4264): {'loc_ID': 3, 'time\n': 3},
 (1163, 576): {'loc_ID': 1, 'time\n': 1},
 (1163, 950): {'loc_ID': 2, 'time\n': 2},
 (1163, 951): {'loc_ID': 5, 'time\n': 5},
 (1172, 3675): {'loc_ID': 3, 'time\n': 3},
 (1175, 609): {'loc_ID': 2, 'time\n': 2},
 (1191, 5530): {'loc_ID': 7, 'time\n': 7},
 (1191, 5651): {'loc_ID': 5, 'time\n': 5},
 (1191, 7545): {'loc_ID': 1, 'time\n': 1},
 (1193, 6401): {'loc_ID': 1, 'time\n': 1},
 (1200, 2641): {'loc_ID': 5, 'time\n': 5},
 (1211, 2455): {'loc_ID': 1, 'time\n': 1},
 (1211, 4474): {'loc_ID': 1, 'time\n': 1},
 (1214, 820): {'loc_ID': 27, 'time\n': 27},
 (1214, 5487): {'loc_ID': 1, 'time\n': 1},
 (1214, 7290): {'loc_ID': 2, 'time\n': 2},
 (1218, 820): {'loc_ID': 3, 'time\n': 3},
 (1227, 6935): {'loc_ID': 1, 'time\n': 1},
 (1230, 7527): {'loc_ID': 1, 'time\n': 1},
 (1234, 820): {'loc_ID': 1, 'time\n': 1},
 (1237, 5530): {'loc_ID': 7, 'time\n': 7},
 (1240, 2606): {'loc_ID': 2, 'time\n': 2},
 (1240, 5331): {'loc_ID': 2, 'time\n': 2},
 (1245, 820): {'loc_ID': 3, 'time\n': 3},
 (1251, 542): {'loc_ID': 1, 'time\n': 1},
 (1276, 948): {'loc_ID': 5, 'time\n': 5},
 (1278, 4264): {'loc_ID': 2, 'time\n': 2},
 (1282, 4565): {'loc_ID': 1, 'time\n': 1},
 (1282, 9485): {'loc_ID': 2, 'time\n': 2},
 (1284, 3066): {'loc_ID': 5, 'time\n': 5},
 (1296, 3302): {'loc_ID': 1, 'time\n': 1},
 (1314, 8898): {'loc_ID': 1, 'time\n': 1},
 (1317, 202): {'loc_ID': 4, 'time\n': 4},
 (1329, 558): {'loc_ID': 7, 'time\n': 7},
 (1333, 3759): {'loc_ID': 1, 'time\n': 1},
 (1348, 3261): {'loc_ID': 2, 'time\n': 2},
 (1376, 9485): {'loc_ID': 1, 'time\n': 1},
 (1380, 410): {'loc_ID': 2, 'time\n': 2},
 (1382, 3275): {'loc_ID': 14, 'time\n': 14},
 (1383, 820): {'loc_ID': 1, 'time\n': 1},
 (1387, 9968): {'loc_ID': 1, 'time\n': 1},
 (1393, 5530): {'loc_ID': 9, 'time\n': 9},
 (1401, 2606): {'loc_ID': 1, 'time\n': 1},
 (1411, 820): {'loc_ID': 4, 'time\n': 4},
 (1412, 9355): {'loc_ID': 7, 'time\n': 7},
 (1437, 4565): {'loc_ID': 1, 'time\n': 1},
 (1437, 5231): {'loc_ID': 3, 'time\n': 3},
 (1445, 4073): {'loc_ID': 1, 'time\n': 1},
 (1448, 225): {'loc_ID': 1, 'time\n': 1},
 (1448, 5231): {'loc_ID': 1, 'time\n': 1},
 (1459, 6044): {'loc_ID': 6, 'time\n': 6},
 (1469, 448): {'loc_ID': 2, 'time\n': 2},
 (1472, 515): {'loc_ID': 8, 'time\n': 8},
 (1472, 2089): {'loc_ID': 5, 'time\n': 5},
 (1472, 8288): {'loc_ID': 1, 'time\n': 1},
 (1487, 2606): {'loc_ID': 1, 'time\n': 1},
 (1494, 4565): {'loc_ID': 1, 'time\n': 1},
 (1508, 2466): {'loc_ID': 3, 'time\n': 3},
 (1515, 151): {'loc_ID': 6, 'time\n': 6},
 (1516, 3498): {'loc_ID': 2, 'time\n': 2},
 (1525, 8437): {'loc_ID': 9, 'time\n': 9},
 (1533, 569): {'loc_ID': 1, 'time\n': 1},
 (1538, 221): {'loc_ID': 4, 'time\n': 4},
 (1538, 8898): {'loc_ID': 26, 'time\n': 26},
 (1542, 820): {'loc_ID': 1, 'time\n': 1},
 (1546, 2183): {'loc_ID': 3, 'time\n': 3},
 (1546, 5760): {'loc_ID': 1, 'time\n': 1},
 (1552, 5231): {'loc_ID': 3, 'time\n': 3},
 (1556, 473): {'loc_ID': 1, 'time\n': 1},
 (1556, 5231): {'loc_ID': 2, 'time\n': 2},
 (1559, 2340): {'loc_ID': 1, 'time\n': 1},
 (1577, 5530): {'loc_ID': 3, 'time\n': 3},
 (1579, 365): {'loc_ID': 1, 'time\n': 1},
 (1581, 515): {'loc_ID': 1, 'time\n': 1},
 (1581, 4264): {'loc_ID': 1, 'time\n': 1},
 (1581, 4831): {'loc_ID': 1, 'time\n': 1},
 (1599, 820): {'loc_ID': 3, 'time\n': 3},
 (1599, 8479): {'loc_ID': 1, 'time\n': 1},
 (1610, 820): {'loc_ID': 17, 'time\n': 17},
 (1618, 65): {'loc_ID': 2, 'time\n': 2},
 (1618, 145): {'loc_ID': 2, 'time\n': 2},
 (1618, 5303): {'loc_ID': 6, 'time\n': 6},
 (1618, 9079): {'loc_ID': 6, 'time\n': 6},
 (1642, 4388): {'loc_ID': 5, 'time\n': 5},
 (1642, 5049): {'loc_ID': 6, 'time\n': 6},
 (1643, 592): {'loc_ID': 2, 'time\n': 2},
 (1644, 6034): {'loc_ID': 1, 'time\n': 1},
 (1653, 5231): {'loc_ID': 1, 'time\n': 1},
 (1659, 2833): {'loc_ID': 7, 'time\n': 7},
 (1664, 5231): {'loc_ID': 1, 'time\n': 1},
 (1668, 820): {'loc_ID': 2, 'time\n': 2},
 (1669, 8817): {'loc_ID': 1, 'time\n': 1},
 (1689, 569): {'loc_ID': 2, 'time\n': 2},
 (1692, 1482): {'loc_ID': 1, 'time\n': 1},
 (1713, 7755): {'loc_ID': 1, 'time\n': 1},
 (1722, 5231): {'loc_ID': 2, 'time\n': 2},
 (1730, 480): {'loc_ID': 11, 'time\n': 11},
 (1732, 9882): {'loc_ID': 1, 'time\n': 1},
 (1733, 8256): {'loc_ID': 2, 'time\n': 2},
 (1754, 8898): {'loc_ID': 51, 'time\n': 51},
 (1768, 5231): {'loc_ID': 1, 'time\n': 1},
 (1771, 820): {'loc_ID': 6, 'time\n': 6},
 (1772, 5231): {'loc_ID': 1, 'time\n': 1},
 (1775, 2589): {'loc_ID': 1, 'time\n': 1},
 (1775, 5530): {'loc_ID': 1, 'time\n': 1},
 (1819, 820): {'loc_ID': 2, 'time\n': 2},
 (1819, 8815): {'loc_ID': 1, 'time\n': 1},
 (1827, 7667): {'loc_ID': 1, 'time\n': 1},
 (1827, 9243): {'loc_ID': 3, 'time\n': 3},
 (1831, 221): {'loc_ID': 3, 'time\n': 3},
 (1831, 8898): {'loc_ID': 34, 'time\n': 34},
 (1833, 4264): {'loc_ID': 2, 'time\n': 2},
 (1834, 820): {'loc_ID': 6, 'time\n': 6},
 (1834, 8335): {'loc_ID': 1, 'time\n': 1},
 (1842, 8439): {'loc_ID': 2, 'time\n': 2},
 (1843, 2340): {'loc_ID': 1, 'time\n': 1},
 (1843, 7194): {'loc_ID': 2, 'time\n': 2},
 (1844, 4169): {'loc_ID': 8, 'time\n': 8},
 (1848, 820): {'loc_ID': 8, 'time\n': 8},
 (1848, 2933): {'loc_ID': 4, 'time\n': 4},
 (1848, 5231): {'loc_ID': 2, 'time\n': 2},
 (1848, 9877): {'loc_ID': 3, 'time\n': 3},
 (1884, 4474): {'loc_ID': 1, 'time\n': 1},
 (1885, 4388): {'loc_ID': 2, 'time\n': 2},
 (1896, 4864): {'loc_ID': 1, 'time\n': 1},
 (1896, 7682): {'loc_ID': 5, 'time\n': 5},
 (1903, 764): {'loc_ID': 14, 'time\n': 14},
 (1912, 299): {'loc_ID': 1, 'time\n': 1},
 (1912, 2606): {'loc_ID': 1, 'time\n': 1},
 (1918, 131): {'loc_ID': 1, 'time\n': 1},
 (1931, 5231): {'loc_ID': 1, 'time\n': 1},
 (1938, 8733): {'loc_ID': 2, 'time\n': 2},
 (1966, 357): {'loc_ID': 1, 'time\n': 1},
 (1966, 546): {'loc_ID': 1, 'time\n': 1},
 (1966, 5231): {'loc_ID': 1, 'time\n': 1},
 (1967, 217): {'loc_ID': 10, 'time\n': 10},
 (1967, 3580): {'loc_ID': 2, 'time\n': 2},
 (1967, 6890): {'loc_ID': 1, 'time\n': 1},
 (1967, 7279): {'loc_ID': 1, 'time\n': 1},
 (1976, 5231): {'loc_ID': 1, 'time\n': 1},
 (1984, 5231): {'loc_ID': 2, 'time\n': 2},
 (1992, 820): {'loc_ID': 14, 'time\n': 14},
 (1992, 2160): {'loc_ID': 1, 'time\n': 1},
 (1995, 5231): {'loc_ID': 4, 'time\n': 4},
 (2004, 1817): {'loc_ID': 4, 'time\n': 4},
 (2012, 820): {'loc_ID': 5, 'time\n': 5},
 (2019, 9485): {'loc_ID': 1, 'time\n': 1},
 (2026, 3066): {'loc_ID': 1, 'time\n': 1},
 (2027, 5231): {'loc_ID': 1, 'time\n': 1},
 (2027, 9793): {'loc_ID': 1, 'time\n': 1},
 (2030, 820): {'loc_ID': 19, 'time\n': 19},
 (2036, 5391): {'loc_ID': 1, 'time\n': 1},
 (2046, 1079): {'loc_ID': 1, 'time\n': 1},
 (2056, 2747): {'loc_ID': 5, 'time\n': 5},
 (2071, 735): {'loc_ID': 1, 'time\n': 1},
 (2071, 1570): {'loc_ID': 2, 'time\n': 2},
 (2071, 4972): {'loc_ID': 1, 'time\n': 1},
 (2073, 5231): {'loc_ID': 1, 'time\n': 1},
 (2080, 4399): {'loc_ID': 1, 'time\n': 1},
 (2085, 820): {'loc_ID': 10, 'time\n': 10},
 (2094, 2746): {'loc_ID': 1, 'time\n': 1},
 (2101, 5231): {'loc_ID': 1, 'time\n': 1},
 (2109, 525): {'loc_ID': 1, 'time\n': 1},
 (2109, 9011): {'loc_ID': 6, 'time\n': 6},
 (2112, 115): {'loc_ID': 1, 'time\n': 1},
 (2112, 9092): {'loc_ID': 3, 'time\n': 3},
 (2112, 9243): {'loc_ID': 3, 'time\n': 3},
 (2146, 8817): {'loc_ID': 1, 'time\n': 1},
 (2147, 3485): {'loc_ID': 2, 'time\n': 2},
 (2161, 820): {'loc_ID': 5, 'time\n': 5},
 (2191, 4264): {'loc_ID': 10, 'time\n': 10},
 (2198, 5231): {'loc_ID': 1, 'time\n': 1},
 (2199, 820): {'loc_ID': 1, 'time\n': 1},
 (2200, 6044): {'loc_ID': 2, 'time\n': 2},
 (2200, 8845): {'loc_ID': 2, 'time\n': 2},
 (2236, 299): {'loc_ID': 1, 'time\n': 1},
 (2236, 5846): {'loc_ID': 1, 'time\n': 1},
 (2236, 6171): {'loc_ID': 3, 'time\n': 3},
 (2236, 7682): {'loc_ID': 1, 'time\n': 1},
 (2252, 3580): {'loc_ID': 2, 'time\n': 2},
 (2273, 2505): {'loc_ID': 9, 'time\n': 9},
 (2277, 742): {'loc_ID': 11, 'time\n': 11},
 (2286, 820): {'loc_ID': 7, 'time\n': 7},
 (2286, 5231): {'loc_ID': 1, 'time\n': 1},
 (2291, 9882): {'loc_ID': 2, 'time\n': 2},
 (2292, 5231): {'loc_ID': 1, 'time\n': 1},
 (2299, 573): {'loc_ID': 1, 'time\n': 1},
 (2301, 7409): {'loc_ID': 1, 'time\n': 1},
 (2319, 654): {'loc_ID': 1, 'time\n': 1},
 (2327, 4690): {'loc_ID': 11, 'time\n': 11},
 (2336, 5231): {'loc_ID': 2, 'time\n': 2},
 (2340, 2419): {'loc_ID': 1, 'time\n': 1},
 (2348, 299): {'loc_ID': 2, 'time\n': 2},
 (2348, 442): {'loc_ID': 1, 'time\n': 1},
 (2348, 5241): {'loc_ID': 1, 'time\n': 1},
 (2358, 820): {'loc_ID': 7, 'time\n': 7},
 (2366, 115): {'loc_ID': 3, 'time\n': 3},
 (2367, 5231): {'loc_ID': 1, 'time\n': 1},
 (2368, 9968): {'loc_ID': 2, 'time\n': 2},
 (2375, 1692): {'loc_ID': 8, 'time\n': 8},
 (2382, 334): {'loc_ID': 2, 'time\n': 2},
 (2387, 6034): {'loc_ID': 8, 'time\n': 8},
 (2387, 7704): {'loc_ID': 2, 'time\n': 2},
 (2387, 8872): {'loc_ID': 3, 'time\n': 3},
 (2394, 569): {'loc_ID': 3, 'time\n': 3},
 (2394, 3498): {'loc_ID': 3, 'time\n': 3},
 (2409, 2951): {'loc_ID': 1, 'time\n': 1},
 (2432, 5231): {'loc_ID': 1, 'time\n': 1},
 (2437, 820): {'loc_ID': 1, 'time\n': 1},
 (2438, 239): {'loc_ID': 16, 'time\n': 16},
 (2446, 221): {'loc_ID': 13, 'time\n': 13},
 (2446, 5714): {'loc_ID': 1, 'time\n': 1},
 (2446, 7916): {'loc_ID': 1, 'time\n': 1},
 (2446, 8898): {'loc_ID': 10, 'time\n': 10},
 (2447, 221): {'loc_ID': 1, 'time\n': 1},
 (2447, 7667): {'loc_ID': 2, 'time\n': 2},
 (2447, 8898): {'loc_ID': 4, 'time\n': 4},
 (2449, 588): {'loc_ID': 1, 'time\n': 1},
 (2451, 5530): {'loc_ID': 3, 'time\n': 3},
 (2451, 9955): {'loc_ID': 1, 'time\n': 1},
 (2453, 1978): {'loc_ID': 2, 'time\n': 2},
 (2453, 8472): {'loc_ID': 1, 'time\n': 1},
 (2457, 8817): {'loc_ID': 1, 'time\n': 1},
 (2465, 5231): {'loc_ID': 1, 'time\n': 1},
 (2470, 5231): {'loc_ID': 1, 'time\n': 1},
 (2485, 5231): {'loc_ID': 2, 'time\n': 2},
 (2498, 3656): {'loc_ID': 1, 'time\n': 1},
 (2502, 820): {'loc_ID': 8, 'time\n': 8},
 (2504, 7812): {'loc_ID': 2, 'time\n': 2},
 (2511, 820): {'loc_ID': 2, 'time\n': 2},
 (2514, 221): {'loc_ID': 6, 'time\n': 6},
 (2522, 5763): {'loc_ID': 5, 'time\n': 5},
 (2522, 8489): {'loc_ID': 1, 'time\n': 1},
 (2522, 9325): {'loc_ID': 1, 'time\n': 1},
 (2524, 4565): {'loc_ID': 1, 'time\n': 1},
 (2547, 5315): {'loc_ID': 1, 'time\n': 1},
 (2557, 5818): {'loc_ID': 2, 'time\n': 2},
 (2561, 395): {'loc_ID': 1, 'time\n': 1},
 (2574, 3476): {'loc_ID': 7, 'time\n': 7},
 (2591, 3798): {'loc_ID': 1, 'time\n': 1},
 (2591, 5530): {'loc_ID': 14, 'time\n': 14},
 (2591, 9385): {'loc_ID': 10, 'time\n': 10},
 (2600, 2606): {'loc_ID': 2, 'time\n': 2},
 (2616, 5231): {'loc_ID': 6, 'time\n': 6},
 (2621, 4264): {'loc_ID': 1, 'time\n': 1},
 (2644, 5231): {'loc_ID': 1, 'time\n': 1},
 (2666, 8837): {'loc_ID': 1, 'time\n': 1},
 (2667, 8946): {'loc_ID': 1, 'time\n': 1},
 (2675, 820): {'loc_ID': 5, 'time\n': 5},
 (2680, 9968): {'loc_ID': 1, 'time\n': 1},
 (2705, 371): {'loc_ID': 1, 'time\n': 1},
 (2705, 7755): {'loc_ID': 7, 'time\n': 7},
 (2721, 177): {'loc_ID': 1, 'time\n': 1},
 (2726, 5530): {'loc_ID': 3, 'time\n': 3},
 (2779, 820): {'loc_ID': 8, 'time\n': 8},
 (2790, 4442): {'loc_ID': 1, 'time\n': 1},
 (2790, 6034): {'loc_ID': 2, 'time\n': 2},
 (2810, 3142): {'loc_ID': 1, 'time\n': 1},
 (2814, 820): {'loc_ID': 24, 'time\n': 24},
 (2825, 4435): {'loc_ID': 4, 'time\n': 4},
 (2835, 432): {'loc_ID': 2, 'time\n': 2},
 (2855, 2606): {'loc_ID': 6, 'time\n': 6},
 (2855, 8335): {'loc_ID': 8, 'time\n': 8},
 (2855, 9793): {'loc_ID': 2, 'time\n': 2},
 (2866, 3934): {'loc_ID': 1, 'time\n': 1},
 (2866, 9664): {'loc_ID': 2, 'time\n': 2},
 (2872, 764): {'loc_ID': 2, 'time\n': 2},
 (2872, 6803): {'loc_ID': 2, 'time\n': 2},
 (2884, 4017): {'loc_ID': 1, 'time\n': 1},
 (2884, 7682): {'loc_ID': 14, 'time\n': 14},
 (2894, 2391): {'loc_ID': 1, 'time\n': 1},
 (2894, 3261): {'loc_ID': 1, 'time\n': 1},
 (2900, 2589): {'loc_ID': 5, 'time\n': 5},
 (2902, 8817): {'loc_ID': 1, 'time\n': 1},
 (2902, 8918): {'loc_ID': 6, 'time\n': 6},
 (2910, 2669): {'loc_ID': 2, 'time\n': 2},
 (2910, 7682): {'loc_ID': 1, 'time\n': 1},
 (2920, 2939): {'loc_ID': 1, 'time\n': 1},
 (2920, 5530): {'loc_ID': 2, 'time\n': 2},
 (2920, 8144): {'loc_ID': 2, 'time\n': 2},
 (2923, 2150): {'loc_ID': 1, 'time\n': 1},
 (2925, 5231): {'loc_ID': 1, 'time\n': 1},
 (2933, 820): {'loc_ID': 4, 'time\n': 4},
 (2933, 5231): {'loc_ID': 2, 'time\n': 2},
 (2936, 4264): {'loc_ID': 6, 'time\n': 6},

In [184]:
# 用户-线下商家购物-商家id
my_df1 = pd.DataFrame()
print(my_df1)
i = 1
for g in df2.groupby(by='use_ID'):
#     print(g[0])
    g[1].mer_ID = g[1].mer_ID.astype(str)
    g[1].loc_ID = g[1].loc_ID.astype(str)
    new_line = pd.DataFrame([{"use_ID":g[0], 'mer_ID':":".join(g[1].mer_ID.unique()), 'loc_ID':":".join(g[1].loc_ID.unique())}])
    my_df1 = my_df1.append(new_line)
#     print(":".join(g[1].mer_ID.unique()))
    if i == 100:
        break
    i+=1
my_df1

Empty DataFrame
Columns: []
Index: []

/home/jiangsir/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

     loc_ID             mer_ID   use_ID
0       490               4876  1000004
0       172               2606  1000005
0       337          4264:4796   100002
0       461                456  1000021
0       330                820  1000041
0        63               4264  1000047
0        25           820:2606  1000048
0    17:308           7755:473   100005
0       457                820  1000053
0       368          9968:8817  1000056
0        84               3498  1000058
0       355               9397  1000075
0       372          2085:7682  1000087
0   423:116           3727:550  1000093
0       262               5530  1000112
0       446               7667  1000121
0       335                 60  1000123
0       442               1492  1000125
0         6               9236  1000144
0         6               5232  1000149
0       348                898  1000179
0        75               1433   100018
0        47               6803  1000186
0       114               2833  1000207
0        78             820:30  1000217
0       183               5294   100023
0       480          1692:1890  1000232
0         6  339:820:8335:4566  1000237
0       254          3527:5825  1000245
0         6               8335  1000257
..      ...                ...      ...
0        60               4264  1000587
0       174               9485  1000590
0       145               2800  1000608
0       129       9092:562:820  1000613
0       324               1906  1000617
0    155:84           7682:573  1000627
0        78             820:30  1000637
0        63               8603  1000639
0       114          7682:4565  1000643
0        37               8479  1000668
0       177               7170  1000677
0       410               8590  1000682
0       371               5231  1000696
0        88               7450   100070
0       470          9616:1951  1000700
0        57               5567  1000704
0       371               5231  1000734
0        52      9485:2641:299  1000741
0       348               5231  1000745
0       461               5389  1000749
0       145               2800  1000762
0       172           8335:820  1000765
0       360               8946  1000768
0        91               1124  1000770
0       446          9485:1978  1000788
0        31          2594:2339  1000794
0       272          5261:2606  1000805
0        17          7755:8489   100081
0       149               9485  1000825
0       388               3090  1000833

[100 rows x 3 columns]

In [ ]:
# 某个位置的所有商家
df3.loc[df3]

In [16]:
# df2.pivot_table(index='use_ID',values=['mer_ID'],aggfunc='count')

In [13]:
df1.loc[df1.use_ID=='1000366']

        use_ID sel_ID  ite_ID  cat_ID act_ID       time
32187  1000366   6045  937850       1      0 2015-09-25
32239  1000366   6045  937850       1      0 2015-09-25
32276  1000366   6045  937850       1      0 2015-09-25
32286  1000366   6045  937850       1      0 2015-09-25
32287  1000366   6045  937850       1      0 2015-09-25
32293  1000366   6045  937850       1      1 2015-09-25

In [14]:
# 用户-线上浏览和购物
df1.sort_values('time', inplace=True)
df1.groupby(by=["use_ID", "sel_ID"])[['act_ID']].sum()

                                          act_ID
use_ID  sel_ID
1000065 9626                                   1
1000179 641                                    0
1000235 7481                                   1
100027  161                                    0
        9987                                   0
1000281 4562    00000000000000000000000000000000
1000297 2131                                   0
1000361 6967                                   0
1000366 6045                              000001
1000389 2356                                   0
        3393                                   0
1000392 2316                                  00
1000398 260                                    0
        5997                                   0
1000431 2670                                   1
1000452 7717                                   0
1000482 161                                    0
100051  1757                                 001
1000527 8302                                   0
1000562 1391                                  00
        7386                                   0
1000615 5752                                   0
1000678 3041                                   0
1000715 1482                                   0
        2356                                   0
1000756 5846                                   0
        9955                                   0
1000813 517                                    0
1000901 2951                                  00
1000914 2154                                  00
...                                          ...
998927  4781                                   0
998930  5319                                   0
999045  3371                                   0
999046  7930                                   0
999150  5432                                   0
999199  2154                                0000
        2302                                  00
        2920                                   0
        8768                                   0
999229  9651                                   0
999343  188                                   00
        5414                               10000
        9958                                   0
999454  3046                                   0
        5245                                   0
        5776                                   0
999469  306                                    0
99952   161                                   00
999526  1757                                 000
999597  9264                                   0
999648  6029                                   0
999666  161                                    0
        9532                                   0
99972   6967                                   1
999730  494                                    0
999769  7781                                   0
999861  7930                                   0
999866  5422                                   0
999915  5658                                1111
999980  6967                                   0

[43416 rows x 1 columns]

In [15]:
#  表 4：预测结果。 (ijcai2016_koubei_test) 
"""
User_id:唯一用户id
Location_id:唯一位置id
Merchant_id_list:您最多可以在这里推荐 10 个商家，以“:”分隔，例如 1:5:69 
"""
df4 = pd.read_csv('ijcai2016_koubei_test.csv')
df4 = df4.rename(columns={'loc_ID\n':'loc_ID'})
df4.use_ID = df4.use_ID.astype(str)
df4.loc_ID = df4.loc_ID.astype(str)
df4.head()

    use_ID loc_ID
0   753792    112
1  1278336    178
2  1409408    461
3   492160    214
4  1671808    481

In [16]:
# 查重
df4.duplicated().sum()

0

In [17]:
df4.use_ID.is_unique

False

In [18]:
# 每一个地址对应多个商家
df4.groupby(by='loc_ID')['use_ID'].nunique()

loc_ID
1          1
10         2
100      471
101      668
102     1768
103       63
104      150
105      118
106      856
107      198
108      147
109      427
11      5441
110       98
111      172
112     3024
113      587
114     4952
115      934
116      498
117      161
118       26
119      910
12       142
120      561
121      295
122      155
123      594
124     1807
125     2659
       ...
72      1733
73        27
74        59
75      1136
76      2632
77       475
78      1539
79        92
8       2063
80       120
81      1516
82      6894
83      2506
84     11572
85       595
86       368
87         2
88      5313
89       502
9        206
90       181
91      7294
92       577
93       278
94       122
95       859
96       736
97        54
98       550
99        85
Name: use_ID, Length: 439, dtype: int64

In [19]:
#  表 3：商家信息。 (ijcai2016_merchant_info) 
"""
Merchant_id:唯一商户id
Budget:强加于商家的预算限制
Location_id_list:可用位置列表，例如 1:356:89 
"""

df3 = pd.read_csv('ijcai2016_merchant_info.csv')
df3 = df3.rename(columns={'loc_list\n':'loc_list'})
df3.mer_ID = df3.mer_ID.astype(str)
df3.loc_list = df3.loc_list.astype(str)
df3.head()

  mer_ID  budget loc_list
0    128     331    180\n
1   3712     100     34\n
2   1409     100    317\n
3   3201     100    337\n
4   8577     100    178\n

In [20]:
# 商家-位置
dd = pd.DataFrame()
df3 = df3.rename(columns={'loc_list\n':'loc_list'})
df3['loc_list'] = df3['loc_list'].str.strip('\n')
df3.mer_ID = df3.mer_ID.astype(str)
def func(line):
#     print(line)
    global dd
    loc_ls = line['loc_list'].split(':')
    if len(loc_ls) > 1:
        for i in range(1,len(loc_ls)):
            line2 = line
            line2['mer_ID']=str(line2['mer_ID'])
            line2['loc_list'] = loc_ls[i]
            dd = dd.append(line2)
    line3 = line
    line3['loc_list'] = loc_ls[0]
    return line3

df3 = df3.apply(func, axis=1).append(dd)
# df3.mer_ID = df3.mer_ID.astype(str)

df3

/home/jiangsir/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

      budget loc_list mer_ID
0      331.0      180    128
1      100.0       34   3712
2      100.0      317   1409
3      100.0      337   3201
4      100.0      178   8577
5      100.0      348    898
6     1735.0      114   9858
7      100.0      337    387
8      100.0      272   2179
9      100.0      364   3971
10     104.0       88   5763
11     100.0      377   7555
12     100.0      246   9347
13     100.0      215   1668
14     100.0      450   3460
15     100.0      407   2949
16     445.0      262   4741
17     100.0      239   6533
18     100.0       34   8325
19     100.0      333    646
20     100.0      167   4230
21     100.0      230   6022
22     132.0       53   7814
23     100.0      189    135
24     514.0       63   5511
25     100.0       60   7303
26     271.0       56   9095
27     100.0       13   1416
28     100.0      208   3208
29     100.0      404   5000
...      ...      ...    ...
5783   793.0       62   4697
5783   793.0      184   4697
5783   793.0       52   4697
5783   793.0      316   4697
5811  1370.0      348   8288
5811  1370.0      190   8288
5812   819.0      490    609
5812   819.0      241    609
5812   819.0       55    609
5812   819.0      230    609
5812   819.0      236    609
5812   819.0        5    609
5812   819.0      266    609
5812   819.0      278    609
5812   819.0      444    609
5812   819.0      189    609
5812   819.0      279    609
5817   100.0      446   3682
5826   100.0      330   9317
5826   100.0       78   9317
5826   100.0      146   9317
5826   100.0      365   9317
5826   100.0      205   9317
5847  5859.0      146   2156
5847  5859.0      461   2156
5847  5859.0      254   2156
5847  5859.0       56   2156
5847  5859.0      130   2156
5847  5859.0       91   2156
5869  1148.0      163    371

[6976 rows x 3 columns]

In [21]:
import pickle
pickle.dump(df3, open('./mer_location.pkl', 'wb'))

In [22]:
df3.merge(right=d2, how="left", left_on="mer_ID", right_on="sel_ID")[pd.isnull(df3.merge(right=d2, how="left", left_on="mer_ID", right_on="sel_ID").buy_num)]

NameError: name 'd2' is not defined

In [23]:
# 加入商家人气
d2 = df.loc[df.act_ID=='1'].groupby(by='sel_ID').count()['use_ID']
d2 = pd.DataFrame(d2).rename(columns={'use_ID':'buy_num'})
df3.merge(right=d2, how="left", left_on="mer_ID", right_on="sel_ID").fillna(0)

      budget loc_list mer_ID  buy_num
0      331.0      180    128   1584.0
1      100.0       34   3712      1.0
2      100.0      317   1409      4.0
3      100.0      337   3201     17.0
4      100.0      178   8577     35.0
5      100.0      348    898     25.0
6     1735.0      114   9858    291.0
7      100.0      337    387     29.0
8      100.0      272   2179      9.0
9      100.0      364   3971    113.0
10     104.0       88   5763    528.0
11     100.0      377   7555      8.0
12     100.0      246   9347     18.0
13     100.0      215   1668     16.0
14     100.0      450   3460      1.0
15     100.0      407   2949      2.0
16     445.0      262   4741    122.0
17     100.0      239   6533     47.0
18     100.0       34   8325     32.0
19     100.0      333    646      7.0
20     100.0      167   4230     44.0
21     100.0      230   6022      5.0
22     132.0       53   7814     59.0
23     100.0      189    135      6.0
24     514.0       63   5511     19.0
25     100.0       60   7303      1.0
26     271.0       56   9095    353.0
27     100.0       13   1416     42.0
28     100.0      208   3208      2.0
29     100.0      404   5000     78.0
...      ...      ...    ...      ...
6946   793.0       62   4697    110.0
6947   793.0      184   4697    110.0
6948   793.0       52   4697    110.0
6949   793.0      316   4697    110.0
6950  1370.0      348   8288    518.0
6951  1370.0      190   8288    518.0
6952   819.0      490    609    183.0
6953   819.0      241    609    183.0
6954   819.0       55    609    183.0
6955   819.0      230    609    183.0
6956   819.0      236    609    183.0
6957   819.0        5    609    183.0
6958   819.0      266    609    183.0
6959   819.0      278    609    183.0
6960   819.0      444    609    183.0
6961   819.0      189    609    183.0
6962   819.0      279    609    183.0
6963   100.0      446   3682      3.0
6964   100.0      330   9317      6.0
6965   100.0       78   9317      6.0
6966   100.0      146   9317      6.0
6967   100.0      365   9317      6.0
6968   100.0      205   9317      6.0
6969  5859.0      146   2156   2611.0
6970  5859.0      461   2156   2611.0
6971  5859.0      254   2156   2611.0
6972  5859.0       56   2156   2611.0
6973  5859.0      130   2156   2611.0
6974  5859.0       91   2156   2611.0
6975  1148.0      163    371    332.0

[6976 rows x 4 columns]

In [24]:
df.head()

  act_ID sel_ID       time   use_ID
0      0   9666 2015-08-26  1980536
1      0   9666 2015-08-26  1980536
2      0   9666 2015-09-15   647747
3      0   9666 2015-08-23  1980536
4      0   9525 2015-07-11   183647

In [25]:
# 用户-商家-购物记录(包含线上和线下)
# 时间排序
df.sort_values('time', inplace=True)
records = df.groupby(by=["use_ID", "sel_ID"])[['act_ID']].sum()
records
# d2 = df.groupby(by=["use_ID", "sel_ID"])..sort_values("score", ascending=False, inplace=True)[['act_ID']].sum()
# d2

                               act_ID
use_ID  sel_ID
1000004 4876                    11111
1000005 2606                    11111
100002  4264                  1111111
        4796                        1
1000021 456                    111111
1000041 820                         1
1000047 4264                    11111
1000048 2606                      111
        820                1111111111
100005  473                        11
        7755                       11
1000053 820          1111111111111111
1000056 8817                        1
        9968              11111111111
1000058 3498                      111
1000065 9626                        1
1000075 9397                        1
1000087 2085                        1
        7682                        1
1000093 3727                   111111
        550                        11
1000112 5530                        1
1000121 7667                        1
1000123 60                11111111111
1000125 1492                    11111
1000144 9236                        1
1000149 5232                        1
1000179 641                         0
        898                         1
100018  1433                        1
...                               ...
999864  7042                     1111
999866  4641                        1
        5422                        0
999870  9485                        1
999879  4264                        1
99988   2606                        1
        820                         1
999890  820               11111111111
999915  5658                     1111
999916  8479                        1
999917  192                        11
999925  569                        11
999927  4796                        1
        6697                       11
        8091                        1
999931  4944                        1
        5714                        1
        6808                        1
        7916                        1
        8275                        1
999937  5231                       11
999960  3227                   111111
999967  820                      1111
99998   4264                        1
        820               11111111111
999980  6967                        0
999988  1978              11111111111
        7682                       11
999991  9092                     1111
999992  4508    111111111111111111111

[339538 rows x 1 columns]

In [21]:
# records.loc['753792', '8072']
records.loc['296576', :]

KeyError: 'the label [296576] is not in the [index]'

In [26]:
records.reset_index()

         use_ID sel_ID                 act_ID
0       1000004   4876                  11111
1       1000005   2606                  11111
2        100002   4264                1111111
3        100002   4796                      1
4       1000021    456                 111111
5       1000041    820                      1
6       1000047   4264                  11111
7       1000048   2606                    111
8       1000048    820             1111111111
9        100005    473                     11
10       100005   7755                     11
11      1000053    820       1111111111111111
12      1000056   8817                      1
13      1000056   9968            11111111111
14      1000058   3498                    111
15      1000065   9626                      1
16      1000075   9397                      1
17      1000087   2085                      1
18      1000087   7682                      1
19      1000093   3727                 111111
20      1000093    550                     11
21      1000112   5530                      1
22      1000121   7667                      1
23      1000123     60            11111111111
24      1000125   1492                  11111
25      1000144   9236                      1
26      1000149   5232                      1
27      1000179    641                      0
28      1000179    898                      1
29       100018   1433                      1
...         ...    ...                    ...
339508   999864   7042                   1111
339509   999866   4641                      1
339510   999866   5422                      0
339511   999870   9485                      1
339512   999879   4264                      1
339513    99988   2606                      1
339514    99988    820                      1
339515   999890    820            11111111111
339516   999915   5658                   1111
339517   999916   8479                      1
339518   999917    192                     11
339519   999925    569                     11
339520   999927   4796                      1
339521   999927   6697                     11
339522   999927   8091                      1
339523   999931   4944                      1
339524   999931   5714                      1
339525   999931   6808                      1
339526   999931   7916                      1
339527   999931   8275                      1
339528   999937   5231                     11
339529   999960   3227                 111111
339530   999967    820                   1111
339531    99998   4264                      1
339532    99998    820            11111111111
339533   999980   6967                      0
339534   999988   1978            11111111111
339535   999988   7682                     11
339536   999991   9092                   1111
339537   999992   4508  111111111111111111111

[339538 rows x 3 columns]

In [27]:
def func(line):
#     print(line)
    n = len(line['act_ID'])
    line['len_act'] = n
    line['cut_act'] = line['act_ID'][-7:-2]  # 进五次购物行为为特征值
    line['target'] = line['act_ID'][-1] # 最后一次购物为目标值
    return line
records2 = records.reset_index().apply(func,axis=1)
records2

         use_ID sel_ID                 act_ID  len_act cut_act target
0       1000004   4876                  11111        5     111      1
1       1000005   2606                  11111        5     111      1
2        100002   4264                1111111        7   11111      1
3        100002   4796                      1        1              1
4       1000021    456                 111111        6    1111      1
5       1000041    820                      1        1              1
6       1000047   4264                  11111        5     111      1
7       1000048   2606                    111        3       1      1
8       1000048    820             1111111111       10   11111      1
9        100005    473                     11        2              1
10       100005   7755                     11        2              1
11      1000053    820       1111111111111111       16   11111      1
12      1000056   8817                      1        1              1
13      1000056   9968            11111111111       11   11111      1
14      1000058   3498                    111        3       1      1
15      1000065   9626                      1        1              1
16      1000075   9397                      1        1              1
17      1000087   2085                      1        1              1
18      1000087   7682                      1        1              1
19      1000093   3727                 111111        6    1111      1
20      1000093    550                     11        2              1
21      1000112   5530                      1        1              1
22      1000121   7667                      1        1              1
23      1000123     60            11111111111       11   11111      1
24      1000125   1492                  11111        5     111      1
25      1000144   9236                      1        1              1
26      1000149   5232                      1        1              1
27      1000179    641                      0        1              0
28      1000179    898                      1        1              1
29       100018   1433                      1        1              1
...         ...    ...                    ...      ...     ...    ...
339508   999864   7042                   1111        4      11      1
339509   999866   4641                      1        1              1
339510   999866   5422                      0        1              0
339511   999870   9485                      1        1              1
339512   999879   4264                      1        1              1
339513    99988   2606                      1        1              1
339514    99988    820                      1        1              1
339515   999890    820            11111111111       11   11111      1
339516   999915   5658                   1111        4      11      1
339517   999916   8479                      1        1              1
339518   999917    192                     11        2              1
339519   999925    569                     11        2              1
339520   999927   4796                      1        1              1
339521   999927   6697                     11        2              1
339522   999927   8091                      1        1              1
339523   999931   4944                      1        1              1
339524   999931   5714                      1        1              1
339525   999931   6808                      1        1              1
339526   999931   7916                      1        1              1
339527   999931   8275                      1        1              1
339528   999937   5231                     11        2              1
339529   999960   3227                 111111        6    1111      1
339530   999967    820                   1111        4      11      1
339531    99998   4264                      1        1              1
339532    99998    820            11111111111       11   11111      1
339533   999980   6967                      0        1              0
339534   999988   1978            11111111111       11   11111      1
339535   999988   7682                     11        2              1
339536   999991   9092                   1111        4      11      1
339537   999992   4508  111111111111111111111       21   11111      1

[339538 rows x 6 columns]

In [28]:
max(records2.len_act)

253

In [29]:
records2.loc[records2.len_act==253]

,use_ID,sel_ID,act_ID,len_act,cut_act,target
327025,930055,2641,1111111111111111111111111111111111111111111111...,253,11111,1

In [30]:
# 加入店铺人气
star = pd.DataFrame(df.loc[df.act_ID=='1'].groupby(by='sel_ID').count()['use_ID']).rename(columns={'use_ID':'star'})
star

        star
sel_ID
1         41
10       128
100        3
1003       9
1004      13
1005       9
1006       4
101       39
1010      69
1012     978
1014     654
1015       2
1016     236
1018       6
1019       3
102       25
1020       6
1023     170
1024       2
1025       8
1026       3
1028       1
1029     249
103       13
1032      37
1033     139
1034       9
1035       3
1038      14
1039       1
...      ...
9962       4
9963       3
9964      26
9965       2
9966      13
9967      16
9968    5380
997        7
9970       1
9972      46
9973       3
9974      96
9975       8
9977      95
9978       3
9979     113
998       78
9980       9
9984       5
9985      10
9986       1
9987       5
9989      22
9990       3
9993       1
9994       4
9995       2
9996     244
9997      57
9999      12

[5836 rows x 1 columns]

In [31]:
# 加入店铺人气
records3 = records2.merge(right=star, how="left", left_on="sel_ID", right_on="sel_ID").fillna(0)
records3

,use_ID,sel_ID,act_ID,len_act,cut_act,target,star
0,1000004,4876,11111,5,111,1,919.0
1,1000005,2606,11111,5,111,1,22988.0
2,100002,4264,1111111,7,11111,1,45554.0
3,100002,4796,1,1,,1,1226.0
4,1000021,456,111111,6,1111,1,121.0
5,1000041,820,1,1,,1,218392.0
6,1000047,4264,11111,5,111,1,45554.0
7,1000048,2606,111,3,1,1,22988.0
8,1000048,820,1111111111,10,11111,1,218392.0
9,100005,473,11,2,,1,2790.0
10,100005,7755,11,2,,1,8675.0
11,1000053,820,1111111111111111,16,11111,1,218392.0
12,1000056,8817,1,1,,1,6027.0
13,1000056,9968,11111111111,11,11111,1,5380.0
14,1000058,3498,111,3,1,1,4755.0
15,1000065,9626,1,1,,1,1.0
16,1000075,9397,1,1,,1,117.0
17,1000087,2085,1,1,,1,47.0
18,1000087,7682,1,1,,1,10277.0
19,1000093,3727,111111,6,1111,1,83.0
20,1000093,550,11,2,,1,280.0
21,1000112,5530,1,1,,1,46604.0
22,1000121,7667,1,1,,1,5463.0
23,1000123,60,11111111111,11,11111,1,454.0
24,1000125,1492,11111,5,111,1,90.0
25,1000144,9236,1,1,,1,1444.0
26,1000149,5232,1,1,,1,142.0
27,1000179,641,0,1,,0,8.0
28,1000179,898,1,1,,1,25.0
29,100018,1433,1,1,,1,390.0
...,...,...,...,...,...,...,...
339508,999864,7042,1111,4,11,1,22.0
339509,999866,4641,1,1,,1,366.0
339510,999866,5422,0,1,,0,8.0
339511,999870,9485,1,1,,1,10130.0
339512,999879,4264,1,1,,1,45554.0
339513,99988,2606,1,1,,1,22988.0
339514,99988,820,1,1,,1,218392.0
339515,999890,820,11111111111,11,11111,1,218392.0
339516,999915,5658,1111,4,11,1,21.0
339517,999916,8479,1,1,,1,717.0
339518,999917,192,11,2,,1,109.0
339519,999925,569,11,2,,1,8920.0
339520,999927,4796,1,1,,1,1226.0
339521,999927,6697,11,2,,1,331.0
339522,999927,8091,1,1,,1,221.0
339523,999931,4944,1,1,,1,21.0
339524,999931,5714,1,1,,1,1091.0
339525,999931,6808,1,1,,1,149.0
339526,999931,7916,1,1,,1,776.0
339527,999931,8275,1,1,,1,173.0
339528,999937,5231,11,2,,1,54629.0
339529,999960,3227,111111,6,1111,1,443.0
339530,999967,820,1111,4,11,1,218392.0
339531,99998,4264,1,1,,1,45554.0
339532,99998,820,11111111111,11,11111,1,218392.0
339533,999980,6967,0,1,,0,21.0
339534,999988,1978,11111111111,11,11111,1,2089.0
339535,999988,7682,11,2,,1,10277.0
339536,999991,9092,1111,4,11,1,1343.0
339537,999992,4508,111111111111111111111,21,11111,1,7023.0

In [32]:
# star等级划分
records3.describe()

            len_act           star
count  339538.00000  339538.000000
mean        3.28125   30758.176690
std         4.67629   63081.078436
min         1.00000       0.000000
25%         1.00000     132.000000
50%         1.00000    1343.000000
75%         3.00000   45554.000000
max       253.00000  218392.000000

In [33]:
# star等级划分
records3.loc[records3.star<=218392, 'star_level']='4'
records3.loc[records3.star<=45554, 'star_level']='3'
records3.loc[records3.star<=1343, 'star_level']='2'
records3.loc[records3.star<=132, 'star_level']='1'
# 活跃度
records3.loc[records3.len_act<=253, 'act_level']='3'
records3.loc[records3.len_act<=3, 'act_level']='2'
records3.loc[records3.len_act<=1, 'act_level']='1'
records3

,use_ID,sel_ID,act_ID,len_act,cut_act,target,star,star_level,act_level
0,1000004,4876,11111,5,111,1,919.0,2,3
1,1000005,2606,11111,5,111,1,22988.0,3,3
2,100002,4264,1111111,7,11111,1,45554.0,3,3
3,100002,4796,1,1,,1,1226.0,2,1
4,1000021,456,111111,6,1111,1,121.0,1,3
5,1000041,820,1,1,,1,218392.0,4,1
6,1000047,4264,11111,5,111,1,45554.0,3,3
7,1000048,2606,111,3,1,1,22988.0,3,2
8,1000048,820,1111111111,10,11111,1,218392.0,4,3
9,100005,473,11,2,,1,2790.0,3,2
10,100005,7755,11,2,,1,8675.0,3,2
11,1000053,820,1111111111111111,16,11111,1,218392.0,4,3
12,1000056,8817,1,1,,1,6027.0,3,1
13,1000056,9968,11111111111,11,11111,1,5380.0,3,3
14,1000058,3498,111,3,1,1,4755.0,3,2
15,1000065,9626,1,1,,1,1.0,1,1
16,1000075,9397,1,1,,1,117.0,1,1
17,1000087,2085,1,1,,1,47.0,1,1
18,1000087,7682,1,1,,1,10277.0,3,1
19,1000093,3727,111111,6,1111,1,83.0,1,3
20,1000093,550,11,2,,1,280.0,2,2
21,1000112,5530,1,1,,1,46604.0,4,1
22,1000121,7667,1,1,,1,5463.0,3,1
23,1000123,60,11111111111,11,11111,1,454.0,2,3
24,1000125,1492,11111,5,111,1,90.0,1,3
25,1000144,9236,1,1,,1,1444.0,3,1
26,1000149,5232,1,1,,1,142.0,2,1
27,1000179,641,0,1,,0,8.0,1,1
28,1000179,898,1,1,,1,25.0,1,1
29,100018,1433,1,1,,1,390.0,2,1
...,...,...,...,...,...,...,...,...,...
339508,999864,7042,1111,4,11,1,22.0,1,3
339509,999866,4641,1,1,,1,366.0,2,1
339510,999866,5422,0,1,,0,8.0,1,1
339511,999870,9485,1,1,,1,10130.0,3,1
339512,999879,4264,1,1,,1,45554.0,3,1
339513,99988,2606,1,1,,1,22988.0,3,1
339514,99988,820,1,1,,1,218392.0,4,1
339515,999890,820,11111111111,11,11111,1,218392.0,4,3
339516,999915,5658,1111,4,11,1,21.0,1,3
339517,999916,8479,1,1,,1,717.0,2,1
339518,999917,192,11,2,,1,109.0,1,2
339519,999925,569,11,2,,1,8920.0,3,2
339520,999927,4796,1,1,,1,1226.0,2,1
339521,999927,6697,11,2,,1,331.0,2,2
339522,999927,8091,1,1,,1,221.0,2,1
339523,999931,4944,1,1,,1,21.0,1,1
339524,999931,5714,1,1,,1,1091.0,2,1
339525,999931,6808,1,1,,1,149.0,2,1
339526,999931,7916,1,1,,1,776.0,2,1
339527,999931,8275,1,1,,1,173.0,2,1
339528,999937,5231,11,2,,1,54629.0,4,2
339529,999960,3227,111111,6,1111,1,443.0,2,3
339530,999967,820,1111,4,11,1,218392.0,4,3
339531,99998,4264,1,1,,1,45554.0,3,1
339532,99998,820,11111111111,11,11111,1,218392.0,4,3
339533,999980,6967,0,1,,0,21.0,1,1
339534,999988,1978,11111111111,11,11111,1,2089.0,3,3
339535,999988,7682,11,2,,1,10277.0,3,2
339536,999991,9092,1111,4,11,1,1343.0,2,3
339537,999992,4508,111111111111111111111,21,11111,1,7023.0,3,3

In [34]:
# 商家预算
df5 = df3[['mer_ID','budget']]
df5

     mer_ID  budget
0       128   331.0
1      3712   100.0
2      1409   100.0
3      3201   100.0
4      8577   100.0
5       898   100.0
6      9858  1735.0
7       387   100.0
8      2179   100.0
9      3971   100.0
10     5763   104.0
11     7555   100.0
12     9347   100.0
13     1668   100.0
14     3460   100.0
15     2949   100.0
16     4741   445.0
17     6533   100.0
18     8325   100.0
19      646   100.0
20     4230   100.0
21     6022   100.0
22     7814   132.0
23      135   100.0
24     5511   514.0
25     7303   100.0
26     9095   271.0
27     1416   100.0
28     3208   100.0
29     5000   100.0
...     ...     ...
5783   4697   793.0
5783   4697   793.0
5783   4697   793.0
5783   4697   793.0
5811   8288  1370.0
5811   8288  1370.0
5812    609   819.0
5812    609   819.0
5812    609   819.0
5812    609   819.0
5812    609   819.0
5812    609   819.0
5812    609   819.0
5812    609   819.0
5812    609   819.0
5812    609   819.0
5812    609   819.0
5817   3682   100.0
5826   9317   100.0
5826   9317   100.0
5826   9317   100.0
5826   9317   100.0
5826   9317   100.0
5847   2156  5859.0
5847   2156  5859.0
5847   2156  5859.0
5847   2156  5859.0
5847   2156  5859.0
5847   2156  5859.0
5869    371  1148.0

[6976 rows x 2 columns]

In [35]:
df5.describe()

             budget
count   6976.000000
mean     861.882454
std     2086.462910
min      100.000000
25%      100.000000
50%      100.000000
75%      226.250000
max    17330.000000

In [36]:
df5 = df5.drop_duplicates()
df5

     mer_ID  budget
0       128   331.0
1      3712   100.0
2      1409   100.0
3      3201   100.0
4      8577   100.0
5       898   100.0
6      9858  1735.0
7       387   100.0
8      2179   100.0
9      3971   100.0
10     5763   104.0
11     7555   100.0
12     9347   100.0
13     1668   100.0
14     3460   100.0
15     2949   100.0
16     4741   445.0
17     6533   100.0
18     8325   100.0
19      646   100.0
20     4230   100.0
21     6022   100.0
22     7814   132.0
23      135   100.0
24     5511   514.0
25     7303   100.0
26     9095   271.0
27     1416   100.0
28     3208   100.0
29     5000   100.0
...     ...     ...
5880   6006   100.0
5881   7798   100.0
5882   9590   100.0
5883    119   100.0
5884   1911   100.0
5885   3703   100.0
5886   5495   100.0
5887   7287   100.0
5888   9079   100.0
5889   1400   100.0
5890   6265   100.0
5891    378   100.0
5892   3962   100.0
5893   7546   100.0
5894   5243   100.0
5895   7035   100.0
5896   2940   100.0
5897    637   100.0
5898   2429   100.0
5899   4221   100.0
5900   6013   100.0
5901   7805   100.0
5902    126   100.0
5903   1918   100.0
5904   3710   100.0
5905   7294   100.0
5906   1407   100.0
5907   3199   100.0
5908   4991   100.0
5909   8575   100.0

[5910 rows x 2 columns]

In [37]:
# 加入商家受欢迎程度
# star.reset_index().sel_ID.is_unique
df6 = df5.merge(right=star, how="left", left_on="mer_ID", right_on="sel_ID")
df6

     mer_ID  budget    star
0       128   331.0  1584.0
1      3712   100.0     1.0
2      1409   100.0     4.0
3      3201   100.0    17.0
4      8577   100.0    35.0
5       898   100.0    25.0
6      9858  1735.0   291.0
7       387   100.0    29.0
8      2179   100.0     9.0
9      3971   100.0   113.0
10     5763   104.0   528.0
11     7555   100.0     8.0
12     9347   100.0    18.0
13     1668   100.0    16.0
14     3460   100.0     1.0
15     2949   100.0     2.0
16     4741   445.0   122.0
17     6533   100.0    47.0
18     8325   100.0    32.0
19      646   100.0     7.0
20     4230   100.0    44.0
21     6022   100.0     5.0
22     7814   132.0    59.0
23      135   100.0     6.0
24     5511   514.0    19.0
25     7303   100.0     1.0
26     9095   271.0   353.0
27     1416   100.0    42.0
28     3208   100.0     2.0
29     5000   100.0    78.0
...     ...     ...     ...
5880   6006   100.0    36.0
5881   7798   100.0    61.0
5882   9590   100.0   220.0
5883    119   100.0    45.0
5884   1911   100.0     NaN
5885   3703   100.0    16.0
5886   5495   100.0    48.0
5887   7287   100.0    11.0
5888   9079   100.0   185.0
5889   1400   100.0    12.0
5890   6265   100.0     5.0
5891    378   100.0    48.0
5892   3962   100.0     1.0
5893   7546   100.0     1.0
5894   5243   100.0    33.0
5895   7035   100.0     4.0
5896   2940   100.0     3.0
5897    637   100.0    18.0
5898   2429   100.0     2.0
5899   4221   100.0    38.0
5900   6013   100.0     4.0
5901   7805   100.0   279.0
5902    126   100.0     6.0
5903   1918   100.0     1.0
5904   3710   100.0     5.0
5905   7294   100.0     2.0
5906   1407   100.0     1.0
5907   3199   100.0    76.0
5908   4991   100.0     1.0
5909   8575   100.0   111.0

[5910 rows x 3 columns]

In [38]:
df6.loc[df6.star.isna()]
# df6.star.unique()

     mer_ID  budget  star
69      149   246.0   NaN
83     3992   100.0   NaN
89     4762   100.0   NaN
203    8122   100.0   NaN
209    1724   100.0   NaN
230    7618   100.0   NaN
282    2515   100.0   NaN
289    7380   100.0   NaN
290    9172   100.0   NaN
329    8927   100.0   NaN
344    4580   100.0   NaN
369    7660   100.0   NaN
378    2543   100.0   NaN
398    1780   622.0   NaN
447       2   734.0   NaN
474    5385   100.0   NaN
476    6666   598.0   NaN
492    7695   100.0   NaN
512    6421   100.0   NaN
589    8493   100.0   NaN
627    6456   100.0   NaN
644     317   100.0   NaN
666    3397   100.0   NaN
717    8787  1054.0   NaN
754    3677   100.0   NaN
766    2914   450.0   NaN
777    1381   100.0   NaN
780    8549   100.0   NaN
814    5742   100.0   NaN
832    3187   100.0   NaN
...     ...     ...   ...
5159   5271   100.0   NaN
5174   9114   100.0   NaN
5213    168   100.0   NaN
5219   2730   100.0   NaN
5288   9660   100.0   NaN
5339   2254   100.0   NaN
5389   5341   100.0   NaN
5429   7658   100.0   NaN
5433   1260   100.0   NaN
5451   4081   100.0   NaN
5453   9457   100.0   NaN
5481   2044   100.0   NaN
5524    777   100.0   NaN
5567    791   100.0   NaN
5591    287   100.0   NaN
5616   6951   100.0   NaN
5639   5166   100.0   NaN
5652   7217   277.0   NaN
5672   4151   100.0   NaN
5684   2107   773.0   NaN
5693     63   100.0   NaN
5750   9807   100.0   NaN
5763   1876   100.0   NaN
5798   6237   244.0   NaN
5838   7273   100.0   NaN
5845   8043   100.0   NaN
5856   4718  1361.0   NaN
5864   4977   100.0   NaN
5879    630   257.0   NaN
5884   1911   100.0   NaN

[251 rows x 3 columns]

In [39]:
df6.fillna(0, inplace=True)

In [40]:
df6.loc[df6.star<=218392, 'star_level']='4'
df6.loc[df6.star<=45554, 'star_level']='3'
df6.loc[df6.star<=1343, 'star_level']='2'
df6.loc[df6.star<=132, 'star_level']='1'

In [41]:
df6.loc[df6.star.isna()]

Empty DataFrame
Columns: [mer_ID, budget, star, star_level]
Index: []

In [42]:
df6

     mer_ID  budget    star star_level
0       128   331.0  1584.0          3
1      3712   100.0     1.0          1
2      1409   100.0     4.0          1
3      3201   100.0    17.0          1
4      8577   100.0    35.0          1
5       898   100.0    25.0          1
6      9858  1735.0   291.0          2
7       387   100.0    29.0          1
8      2179   100.0     9.0          1
9      3971   100.0   113.0          1
10     5763   104.0   528.0          2
11     7555   100.0     8.0          1
12     9347   100.0    18.0          1
13     1668   100.0    16.0          1
14     3460   100.0     1.0          1
15     2949   100.0     2.0          1
16     4741   445.0   122.0          1
17     6533   100.0    47.0          1
18     8325   100.0    32.0          1
19      646   100.0     7.0          1
20     4230   100.0    44.0          1
21     6022   100.0     5.0          1
22     7814   132.0    59.0          1
23      135   100.0     6.0          1
24     5511   514.0    19.0          1
25     7303   100.0     1.0          1
26     9095   271.0   353.0          2
27     1416   100.0    42.0          1
28     3208   100.0     2.0          1
29     5000   100.0    78.0          1
...     ...     ...     ...        ...
5880   6006   100.0    36.0          1
5881   7798   100.0    61.0          1
5882   9590   100.0   220.0          2
5883    119   100.0    45.0          1
5884   1911   100.0     0.0          1
5885   3703   100.0    16.0          1
5886   5495   100.0    48.0          1
5887   7287   100.0    11.0          1
5888   9079   100.0   185.0          2
5889   1400   100.0    12.0          1
5890   6265   100.0     5.0          1
5891    378   100.0    48.0          1
5892   3962   100.0     1.0          1
5893   7546   100.0     1.0          1
5894   5243   100.0    33.0          1
5895   7035   100.0     4.0          1
5896   2940   100.0     3.0          1
5897    637   100.0    18.0          1
5898   2429   100.0     2.0          1
5899   4221   100.0    38.0          1
5900   6013   100.0     4.0          1
5901   7805   100.0   279.0          2
5902    126   100.0     6.0          1
5903   1918   100.0     1.0          1
5904   3710   100.0     5.0          1
5905   7294   100.0     2.0          1
5906   1407   100.0     1.0          1
5907   3199   100.0    76.0          1
5908   4991   100.0     1.0          1
5909   8575   100.0   111.0          1

[5910 rows x 4 columns]

In [43]:
import pickle
pickle.dump(df6, open('./budget.pkl', 'wb'))

In [44]:
# 数据转化与输出
records4 = records3.copy()
records4 = records4.merge(right=df5, how="left", left_on="sel_ID", right_on="mer_ID").fillna(0)
records4.loc[records4.budget!=0, 'bd_level']='1'
records4.loc[records4.budget==0, 'bd_level']='-1'
records4

,use_ID,sel_ID,act_ID,len_act,cut_act,target,star,star_level,act_level,mer_ID,budget,bd_level
0,1000004,4876,11111,5,111,1,919.0,2,3,4876,100.0,1
1,1000005,2606,11111,5,111,1,22988.0,3,3,2606,8968.0,1
2,100002,4264,1111111,7,11111,1,45554.0,3,3,4264,6356.0,1
3,100002,4796,1,1,,1,1226.0,2,1,4796,3281.0,1
4,1000021,456,111111,6,1111,1,121.0,1,3,456,100.0,1
5,1000041,820,1,1,,1,218392.0,4,1,820,5192.0,1
6,1000047,4264,11111,5,111,1,45554.0,3,3,4264,6356.0,1
7,1000048,2606,111,3,1,1,22988.0,3,2,2606,8968.0,1
8,1000048,820,1111111111,10,11111,1,218392.0,4,3,820,5192.0,1
9,100005,473,11,2,,1,2790.0,3,2,473,6257.0,1
10,100005,7755,11,2,,1,8675.0,3,2,7755,12223.0,1
11,1000053,820,1111111111111111,16,11111,1,218392.0,4,3,820,5192.0,1
12,1000056,8817,1,1,,1,6027.0,3,1,8817,7815.0,1
13,1000056,9968,11111111111,11,11111,1,5380.0,3,3,9968,2775.0,1
14,1000058,3498,111,3,1,1,4755.0,3,2,3498,2344.0,1
15,1000065,9626,1,1,,1,1.0,1,1,0,0.0,-1
16,1000075,9397,1,1,,1,117.0,1,1,9397,100.0,1
17,1000087,2085,1,1,,1,47.0,1,1,2085,100.0,1
18,1000087,7682,1,1,,1,10277.0,3,1,7682,5969.0,1
19,1000093,3727,111111,6,1111,1,83.0,1,3,3727,100.0,1
20,1000093,550,11,2,,1,280.0,2,2,550,833.0,1
21,1000112,5530,1,1,,1,46604.0,4,1,5530,6959.0,1
22,1000121,7667,1,1,,1,5463.0,3,1,7667,6400.0,1
23,1000123,60,11111111111,11,11111,1,454.0,2,3,60,100.0,1
24,1000125,1492,11111,5,111,1,90.0,1,3,1492,629.0,1
25,1000144,9236,1,1,,1,1444.0,3,1,9236,12161.0,1
26,1000149,5232,1,1,,1,142.0,2,1,5232,100.0,1
27,1000179,641,0,1,,0,8.0,1,1,641,100.0,1
28,1000179,898,1,1,,1,25.0,1,1,898,100.0,1
29,100018,1433,1,1,,1,390.0,2,1,1433,100.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
339508,999864,7042,1111,4,11,1,22.0,1,3,7042,100.0,1
339509,999866,4641,1,1,,1,366.0,2,1,4641,399.0,1
339510,999866,5422,0,1,,0,8.0,1,1,5422,100.0,1
339511,999870,9485,1,1,,1,10130.0,3,1,9485,10239.0,1
339512,999879,4264,1,1,,1,45554.0,3,1,4264,6356.0,1
339513,99988,2606,1,1,,1,22988.0,3,1,2606,8968.0,1
339514,99988,820,1,1,,1,218392.0,4,1,820,5192.0,1
339515,999890,820,11111111111,11,11111,1,218392.0,4,3,820,5192.0,1
339516,999915,5658,1111,4,11,1,21.0,1,3,0,0.0,-1
339517,999916,8479,1,1,,1,717.0,2,1,8479,2744.0,1
339518,999917,192,11,2,,1,109.0,1,2,192,248.0,1
339519,999925,569,11,2,,1,8920.0,3,2,569,5034.0,1
339520,999927,4796,1,1,,1,1226.0,2,1,4796,3281.0,1
339521,999927,6697,11,2,,1,331.0,2,2,6697,3328.0,1
339522,999927,8091,1,1,,1,221.0,2,1,8091,495.0,1
339523,999931,4944,1,1,,1,21.0,1,1,4944,100.0,1
339524,999931,5714,1,1,,1,1091.0,2,1,5714,207.0,1
339525,999931,6808,1,1,,1,149.0,2,1,6808,100.0,1
339526,999931,7916,1,1,,1,776.0,2,1,7916,1720.0,1
339527,999931,8275,1,1,,1,173.0,2,1,8275,100.0,1
339528,999937,5231,11,2,,1,54629.0,4,2,5231,7721.0,1
339529,999960,3227,111111,6,1111,1,443.0,2,3,3227,100.0,1
339530,999967,820,1111,4,11,1,218392.0,4,3,820,5192.0,1
339531,99998,4264,1,1,,1,45554.0,3,1,4264,6356.0,1
339532,99998,820,11111111111,11,11111,1,218392.0,4,3,820,5192.0,1
339533,999980,6967,0,1,,0,21.0,1,1,6967,100.0,1
339534,999988,1978,11111111111,11,11111,1,2089.0,3,3,1978,2421.0,1
339535,999988,7682,11,2,,1,10277.0,3,2,7682,5969.0,1
339536,999991,9092,1111,4,11,1,1343.0,2,3,9092,1337.0,1
339537,999992,4508,111111111111111111111,21,11111,1,7023.0,3,3,4508,100.0,1

In [45]:
# 构造更多数据
records5 = records4.copy()
records5['budget'] = 0
records5['bd_level'] = '-1'
records5['target'] = '0'
records5

,use_ID,sel_ID,act_ID,len_act,cut_act,target,star,star_level,act_level,mer_ID,budget,bd_level
0,1000004,4876,11111,5,111,0,919.0,2,3,4876,0,-1
1,1000005,2606,11111,5,111,0,22988.0,3,3,2606,0,-1
2,100002,4264,1111111,7,11111,0,45554.0,3,3,4264,0,-1
3,100002,4796,1,1,,0,1226.0,2,1,4796,0,-1
4,1000021,456,111111,6,1111,0,121.0,1,3,456,0,-1
5,1000041,820,1,1,,0,218392.0,4,1,820,0,-1
6,1000047,4264,11111,5,111,0,45554.0,3,3,4264,0,-1
7,1000048,2606,111,3,1,0,22988.0,3,2,2606,0,-1
8,1000048,820,1111111111,10,11111,0,218392.0,4,3,820,0,-1
9,100005,473,11,2,,0,2790.0,3,2,473,0,-1
10,100005,7755,11,2,,0,8675.0,3,2,7755,0,-1
11,1000053,820,1111111111111111,16,11111,0,218392.0,4,3,820,0,-1
12,1000056,8817,1,1,,0,6027.0,3,1,8817,0,-1
13,1000056,9968,11111111111,11,11111,0,5380.0,3,3,9968,0,-1
14,1000058,3498,111,3,1,0,4755.0,3,2,3498,0,-1
15,1000065,9626,1,1,,0,1.0,1,1,0,0,-1
16,1000075,9397,1,1,,0,117.0,1,1,9397,0,-1
17,1000087,2085,1,1,,0,47.0,1,1,2085,0,-1
18,1000087,7682,1,1,,0,10277.0,3,1,7682,0,-1
19,1000093,3727,111111,6,1111,0,83.0,1,3,3727,0,-1
20,1000093,550,11,2,,0,280.0,2,2,550,0,-1
21,1000112,5530,1,1,,0,46604.0,4,1,5530,0,-1
22,1000121,7667,1,1,,0,5463.0,3,1,7667,0,-1
23,1000123,60,11111111111,11,11111,0,454.0,2,3,60,0,-1
24,1000125,1492,11111,5,111,0,90.0,1,3,1492,0,-1
25,1000144,9236,1,1,,0,1444.0,3,1,9236,0,-1
26,1000149,5232,1,1,,0,142.0,2,1,5232,0,-1
27,1000179,641,0,1,,0,8.0,1,1,641,0,-1
28,1000179,898,1,1,,0,25.0,1,1,898,0,-1
29,100018,1433,1,1,,0,390.0,2,1,1433,0,-1
...,...,...,...,...,...,...,...,...,...,...,...,...
339508,999864,7042,1111,4,11,0,22.0,1,3,7042,0,-1
339509,999866,4641,1,1,,0,366.0,2,1,4641,0,-1
339510,999866,5422,0,1,,0,8.0,1,1,5422,0,-1
339511,999870,9485,1,1,,0,10130.0,3,1,9485,0,-1
339512,999879,4264,1,1,,0,45554.0,3,1,4264,0,-1
339513,99988,2606,1,1,,0,22988.0,3,1,2606,0,-1
339514,99988,820,1,1,,0,218392.0,4,1,820,0,-1
339515,999890,820,11111111111,11,11111,0,218392.0,4,3,820,0,-1
339516,999915,5658,1111,4,11,0,21.0,1,3,0,0,-1
339517,999916,8479,1,1,,0,717.0,2,1,8479,0,-1
339518,999917,192,11,2,,0,109.0,1,2,192,0,-1
339519,999925,569,11,2,,0,8920.0,3,2,569,0,-1
339520,999927,4796,1,1,,0,1226.0,2,1,4796,0,-1
339521,999927,6697,11,2,,0,331.0,2,2,6697,0,-1
339522,999927,8091,1,1,,0,221.0,2,1,8091,0,-1
339523,999931,4944,1,1,,0,21.0,1,1,4944,0,-1
339524,999931,5714,1,1,,0,1091.0,2,1,5714,0,-1
339525,999931,6808,1,1,,0,149.0,2,1,6808,0,-1
339526,999931,7916,1,1,,0,776.0,2,1,7916,0,-1
339527,999931,8275,1,1,,0,173.0,2,1,8275,0,-1
339528,999937,5231,11,2,,0,54629.0,4,2,5231,0,-1
339529,999960,3227,111111,6,1111,0,443.0,2,3,3227,0,-1
339530,999967,820,1111,4,11,0,218392.0,4,3,820,0,-1
339531,99998,4264,1,1,,0,45554.0,3,1,4264,0,-1
339532,99998,820,11111111111,11,11111,0,218392.0,4,3,820,0,-1
339533,999980,6967,0,1,,0,21.0,1,1,6967,0,-1
339534,999988,1978,11111111111,11,11111,0,2089.0,3,3,1978,0,-1
339535,999988,7682,11,2,,0,10277.0,3,2,7682,0,-1
339536,999991,9092,1111,4,11,0,1343.0,2,3,9092,0,-1
339537,999992,4508,111111111111111111111,21,11111,0,7023.0,3,3,4508,0,-1

In [48]:
int(records6['bd_level'].unique()[1])

-1

In [47]:
# 数据拼接
records6 = records4.append(records5)
records6

,use_ID,sel_ID,act_ID,len_act,cut_act,target,star,star_level,act_level,mer_ID,budget,bd_level
0,1000004,4876,11111,5,111,1,919.0,2,3,4876,100.0,1
1,1000005,2606,11111,5,111,1,22988.0,3,3,2606,8968.0,1
2,100002,4264,1111111,7,11111,1,45554.0,3,3,4264,6356.0,1
3,100002,4796,1,1,,1,1226.0,2,1,4796,3281.0,1
4,1000021,456,111111,6,1111,1,121.0,1,3,456,100.0,1
5,1000041,820,1,1,,1,218392.0,4,1,820,5192.0,1
6,1000047,4264,11111,5,111,1,45554.0,3,3,4264,6356.0,1
7,1000048,2606,111,3,1,1,22988.0,3,2,2606,8968.0,1
8,1000048,820,1111111111,10,11111,1,218392.0,4,3,820,5192.0,1
9,100005,473,11,2,,1,2790.0,3,2,473,6257.0,1
10,100005,7755,11,2,,1,8675.0,3,2,7755,12223.0,1
11,1000053,820,1111111111111111,16,11111,1,218392.0,4,3,820,5192.0,1
12,1000056,8817,1,1,,1,6027.0,3,1,8817,7815.0,1
13,1000056,9968,11111111111,11,11111,1,5380.0,3,3,9968,2775.0,1
14,1000058,3498,111,3,1,1,4755.0,3,2,3498,2344.0,1
15,1000065,9626,1,1,,1,1.0,1,1,0,0.0,-1
16,1000075,9397,1,1,,1,117.0,1,1,9397,100.0,1
17,1000087,2085,1,1,,1,47.0,1,1,2085,100.0,1
18,1000087,7682,1,1,,1,10277.0,3,1,7682,5969.0,1
19,1000093,3727,111111,6,1111,1,83.0,1,3,3727,100.0,1
20,1000093,550,11,2,,1,280.0,2,2,550,833.0,1
21,1000112,5530,1,1,,1,46604.0,4,1,5530,6959.0,1
22,1000121,7667,1,1,,1,5463.0,3,1,7667,6400.0,1
23,1000123,60,11111111111,11,11111,1,454.0,2,3,60,100.0,1
24,1000125,1492,11111,5,111,1,90.0,1,3,1492,629.0,1
25,1000144,9236,1,1,,1,1444.0,3,1,9236,12161.0,1
26,1000149,5232,1,1,,1,142.0,2,1,5232,100.0,1
27,1000179,641,0,1,,0,8.0,1,1,641,100.0,1
28,1000179,898,1,1,,1,25.0,1,1,898,100.0,1
29,100018,1433,1,1,,1,390.0,2,1,1433,100.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
339508,999864,7042,1111,4,11,0,22.0,1,3,7042,0.0,-1
339509,999866,4641,1,1,,0,366.0,2,1,4641,0.0,-1
339510,999866,5422,0,1,,0,8.0,1,1,5422,0.0,-1
339511,999870,9485,1,1,,0,10130.0,3,1,9485,0.0,-1
339512,999879,4264,1,1,,0,45554.0,3,1,4264,0.0,-1
339513,99988,2606,1,1,,0,22988.0,3,1,2606,0.0,-1
339514,99988,820,1,1,,0,218392.0,4,1,820,0.0,-1
339515,999890,820,11111111111,11,11111,0,218392.0,4,3,820,0.0,-1
339516,999915,5658,1111,4,11,0,21.0,1,3,0,0.0,-1
339517,999916,8479,1,1,,0,717.0,2,1,8479,0.0,-1
339518,999917,192,11,2,,0,109.0,1,2,192,0.0,-1
339519,999925,569,11,2,,0,8920.0,3,2,569,0.0,-1
339520,999927,4796,1,1,,0,1226.0,2,1,4796,0.0,-1
339521,999927,6697,11,2,,0,331.0,2,2,6697,0.0,-1
339522,999927,8091,1,1,,0,221.0,2,1,8091,0.0,-1
339523,999931,4944,1,1,,0,21.0,1,1,4944,0.0,-1
339524,999931,5714,1,1,,0,1091.0,2,1,5714,0.0,-1
339525,999931,6808,1,1,,0,149.0,2,1,6808,0.0,-1
339526,999931,7916,1,1,,0,776.0,2,1,7916,0.0,-1
339527,999931,8275,1,1,,0,173.0,2,1,8275,0.0,-1
339528,999937,5231,11,2,,0,54629.0,4,2,5231,0.0,-1
339529,999960,3227,111111,6,1111,0,443.0,2,3,3227,0.0,-1
339530,999967,820,1111,4,11,0,218392.0,4,3,820,0.0,-1
339531,99998,4264,1,1,,0,45554.0,3,1,4264,0.0,-1
339532,99998,820,11111111111,11,11111,0,218392.0,4,3,820,0.0,-1
339533,999980,6967,0,1,,0,21.0,1,1,6967,0.0,-1
339534,999988,1978,11111111111,11,11111,0,2089.0,3,3,1978,0.0,-1
339535,999988,7682,11,2,,0,10277.0,3,2,7682,0.0,-1
339536,999991,9092,1111,4,11,0,1343.0,2,3,9092,0.0,-1
339537,999992,4508,111111111111111111111,21,11111,0,7023.0,3,3,4508,0.0,-1

In [49]:
# 得到features并且保存
import pickle
records6['features'] =records6['bd_level'] + records6['star_level'] + records6['act_level']
records6
pickle.dump(records6, open('./records6.pkl', 'wb'))

In [50]:
records6.loc[records6.sel_ID=='4876']

,use_ID,sel_ID,act_ID,len_act,cut_act,target,star,star_level,act_level,mer_ID,budget,bd_level,features
0,1000004,4876,11111,5,111,1,919.0,2,3,4876,100.0,1,123
956,1004965,4876,1,1,,1,919.0,2,1,4876,100.0,1,121
3739,1020102,4876,11111,5,111,1,919.0,2,3,4876,100.0,1,123
3861,1020734,4876,1,1,,1,919.0,2,1,4876,100.0,1,121
6840,1036623,4876,1111,4,11,1,919.0,2,3,4876,100.0,1,123
10140,105450,4876,1,1,,1,919.0,2,1,4876,100.0,1,121
12694,1067941,4876,111,3,1,1,919.0,2,2,4876,100.0,1,122
14045,1075241,4876,111,3,1,1,919.0,2,2,4876,100.0,1,122
19775,1105957,4876,1111,4,11,1,919.0,2,3,4876,100.0,1,123
21816,1117594,4876,11111,5,111,1,919.0,2,3,4876,100.0,1,123
22438,1120987,4876,111,3,1,1,919.0,2,2,4876,100.0,1,122
26634,1144093,4876,11111111111,11,11111,1,919.0,2,3,4876,100.0,1,123
26724,1144602,4876,1111,4,11,1,919.0,2,3,4876,100.0,1,123
27488,1148994,4876,111111111111,12,11111,1,919.0,2,3,4876,100.0,1,123
28728,1155796,4876,111,3,1,1,919.0,2,2,4876,100.0,1,122
30902,1167653,4876,1111,4,11,1,919.0,2,3,4876,100.0,1,123
31826,1172937,4876,1,1,,1,919.0,2,1,4876,100.0,1,121
33474,1181658,4876,111,3,1,1,919.0,2,2,4876,100.0,1,122
35707,1194079,4876,11,2,,1,919.0,2,2,4876,100.0,1,122
36572,119882,4876,111,3,1,1,919.0,2,2,4876,100.0,1,122
37317,1202841,4876,1111,4,11,1,919.0,2,3,4876,100.0,1,123
41005,1222732,4876,1,1,,1,919.0,2,1,4876,100.0,1,121
42992,1233384,4876,11,2,,1,919.0,2,2,4876,100.0,1,122
42994,1233402,4876,11,2,,1,919.0,2,2,4876,100.0,1,122
44368,1241314,4876,1111111111111111,16,11111,1,919.0,2,3,4876,100.0,1,123
46339,1251484,4876,1111111111,10,11111,1,919.0,2,3,4876,100.0,1,123
48311,1262352,4876,11111,5,111,1,919.0,2,3,4876,100.0,1,123
48433,1263103,4876,1,1,,1,919.0,2,1,4876,100.0,1,121
52672,1285108,4876,11,2,,1,919.0,2,2,4876,100.0,1,122
52720,1285407,4876,1111,4,11,1,919.0,2,3,4876,100.0,1,123
...,...,...,...,...,...,...,...,...,...,...,...,...,...
291972,738933,4876,1111,4,11,0,919.0,2,3,4876,0.0,-1,-123
293220,745379,4876,1,1,,0,919.0,2,1,4876,0.0,-1,-121
293283,745781,4876,11,2,,0,919.0,2,2,4876,0.0,-1,-122
295938,759726,4876,1,1,,0,919.0,2,1,4876,0.0,-1,-121
296239,76134,4876,1111,4,11,0,919.0,2,3,4876,0.0,-1,-123
299065,776954,4876,1,1,,0,919.0,2,1,4876,0.0,-1,-121
302320,795495,4876,1111,4,11,0,919.0,2,3,4876,0.0,-1,-123
309416,834579,4876,11111,5,111,0,919.0,2,3,4876,0.0,-1,-123
309421,834603,4876,11,2,,0,919.0,2,2,4876,0.0,-1,-122
311657,84695,4876,1111,4,11,0,919.0,2,3,4876,0.0,-1,-123
312584,85192,4876,111,3,1,0,919.0,2,2,4876,0.0,-1,-122
313409,856528,4876,1111,4,11,0,919.0,2,3,4876,0.0,-1,-123
314292,86141,4876,11,2,,0,919.0,2,2,4876,0.0,-1,-122
315594,868260,4876,1,1,,0,919.0,2,1,4876,0.0,-1,-121
318336,883225,4876,1111111,7,11111,0,919.0,2,3,4876,0.0,-1,-123
323331,910354,4876,1,1,,0,919.0,2,1,4876,0.0,-1,-121
323334,910387,4876,1,1,,0,919.0,2,1,4876,0.0,-1,-121
326375,926499,4876,111111,6,1111,0,919.0,2,3,4876,0.0,-1,-123
326814,92882,4876,11111,5,111,0,919.0,2,3,4876,0.0,-1,-123
327988,935269,4876,111,3,1,0,919.0,2,2,4876,0.0,-1,-122
329348,943155,4876,1,1,,0,919.0,2,1,4876,0.0,-1,-121
330543,949829,4876,1,1,,0,919.0,2,1,4876,0.0,-1,-121
330665,950484,4876,11111111111,11,11111,0,919.0,2,3,4876,0.0,-1,-123
331368,954364,4876,1111,4,11,0,919.0,2,3,4876,0.0,-1,-123
333235,964344,4876,1,1,,0,919.0,2,1,4876,0.0,-1,-121
336583,983216,4876,1111,4,11,0,919.0,2,3,4876,0.0,-1,-123
336712,98390,4876,111,3,1,0,919.0,2,2,4876,0.0,-1,-122
336995,985663,4876,1111,4,11,0,919.0,2,3,4876,0.0,-1,-123
337943,990954,4876,1,1,,0,919.0,2,1,4876,0.0,-1,-121
338018,991296,4876,11111,5,111,0,919.0,2,3,4876,0.0,-1,-123

In [51]:
records6.loc[records6.target=='0']

,use_ID,sel_ID,act_ID,len_act,cut_act,target,star,star_level,act_level,mer_ID,budget,bd_level,features
27,1000179,641,0,1,,0,8.0,1,1,641,100.0,1,111
46,100027,161,0,1,,0,786.0,2,1,161,100.0,1,121
47,100027,9987,0,1,,0,5.0,1,1,9987,100.0,1,111
54,1000281,4562,00000000000000000000000000000000,32,00000,0,98.0,1,3,4562,100.0,1,113
56,1000297,2131,0,1,,0,23.0,1,1,2131,100.0,1,111
66,1000361,6967,0,1,,0,21.0,1,1,6967,100.0,1,111
82,1000389,2356,0,1,,0,177.0,2,1,0,0.0,-1,-121
83,1000389,3393,0,1,,0,0.0,1,1,0,0.0,-1,-111
84,1000392,2316,00,2,,0,27.0,1,2,0,0.0,-1,-112
85,1000398,260,0,1,,0,68.0,1,1,260,100.0,1,111
86,1000398,5997,0,1,,0,2.0,1,1,0,0.0,-1,-111
99,1000452,7717,0,1,,0,2.0,1,1,0,0.0,-1,-111
104,1000482,161,0,1,,0,786.0,2,1,161,100.0,1,121
108,100051,1757,010,3,0,0,156.0,2,2,1757,100.0,1,122
109,1000527,8302,0,1,,0,3.0,1,1,0,0.0,-1,-111
113,1000562,1391,00,2,,0,141.0,2,2,1391,100.0,1,122
114,1000562,7386,0,1,,0,94.0,1,1,7386,100.0,1,111
122,1000615,5752,0,1,,0,23.0,1,1,5752,100.0,1,111
133,1000678,3041,0,1,,0,123.0,1,1,3041,100.0,1,111
140,1000715,1482,0,1,,0,479.0,2,1,1482,565.0,1,121
141,1000715,2356,0,1,,0,177.0,2,1,0,0.0,-1,-121
148,1000756,5846,0,1,,0,402.0,2,1,5846,202.0,1,121
149,1000756,9955,0,1,,0,110.0,1,1,9955,100.0,1,111
163,1000813,517,0,1,,0,83.0,1,1,517,831.0,1,111
172,1000901,2951,00,2,,0,1021.0,2,2,2951,518.0,1,122
176,1000914,2154,00,2,,0,29.0,1,2,0,0.0,-1,-112
177,1000914,6360,0,1,,0,20.0,1,1,0,0.0,-1,-111
178,1000914,7578,00000,5,000,0,1.0,1,3,0,0.0,-1,-113
179,1000914,9955,0,1,,0,110.0,1,1,9955,100.0,1,111
190,1001,2920,000,3,0,0,51.0,1,2,0,0.0,-1,-112
...,...,...,...,...,...,...,...,...,...,...,...,...,...
339508,999864,7042,1111,4,11,0,22.0,1,3,7042,0.0,-1,-113
339509,999866,4641,1,1,,0,366.0,2,1,4641,0.0,-1,-121
339510,999866,5422,0,1,,0,8.0,1,1,5422,0.0,-1,-111
339511,999870,9485,1,1,,0,10130.0,3,1,9485,0.0,-1,-131
339512,999879,4264,1,1,,0,45554.0,3,1,4264,0.0,-1,-131
339513,99988,2606,1,1,,0,22988.0,3,1,2606,0.0,-1,-131
339514,99988,820,1,1,,0,218392.0,4,1,820,0.0,-1,-141
339515,999890,820,11111111111,11,11111,0,218392.0,4,3,820,0.0,-1,-143
339516,999915,5658,1111,4,11,0,21.0,1,3,0,0.0,-1,-113
339517,999916,8479,1,1,,0,717.0,2,1,8479,0.0,-1,-121
339518,999917,192,11,2,,0,109.0,1,2,192,0.0,-1,-112
339519,999925,569,11,2,,0,8920.0,3,2,569,0.0,-1,-132
339520,999927,4796,1,1,,0,1226.0,2,1,4796,0.0,-1,-121
339521,999927,6697,11,2,,0,331.0,2,2,6697,0.0,-1,-122
339522,999927,8091,1,1,,0,221.0,2,1,8091,0.0,-1,-121
339523,999931,4944,1,1,,0,21.0,1,1,4944,0.0,-1,-111
339524,999931,5714,1,1,,0,1091.0,2,1,5714,0.0,-1,-121
339525,999931,6808,1,1,,0,149.0,2,1,6808,0.0,-1,-121
339526,999931,7916,1,1,,0,776.0,2,1,7916,0.0,-1,-121
339527,999931,8275,1,1,,0,173.0,2,1,8275,0.0,-1,-121
339528,999937,5231,11,2,,0,54629.0,4,2,5231,0.0,-1,-142
339529,999960,3227,111111,6,1111,0,443.0,2,3,3227,0.0,-1,-123
339530,999967,820,1111,4,11,0,218392.0,4,3,820,0.0,-1,-143
339531,99998,4264,1,1,,0,45554.0,3,1,4264,0.0,-1,-131
339532,99998,820,11111111111,11,11111,0,218392.0,4,3,820,0.0,-1,-143
339533,999980,6967,0,1,,0,21.0,1,1,6967,0.0,-1,-111
339534,999988,1978,11111111111,11,11111,0,2089.0,3,3,1978,0.0,-1,-133
339535,999988,7682,11,2,,0,10277.0,3,2,7682,0.0,-1,-132
339536,999991,9092,1111,4,11,0,1343.0,2,3,9092,0.0,-1,-123
339537,999992,4508,111111111111111111111,21,11111,0,7023.0,3,3,4508,0.0,-1,-133

In [336]:
# 截取近十次的购物行为
df4.merge(right=records2, how="left", left_on="use_ID", right_on="use_ID").dropna()

,use_ID,loc_ID,sel_ID,act_ID,len_act,cut_act,target
5,427392,172,4796,1,1.0,,1
6,427392,172,5231,1,1.0,,1
7,427392,172,820,111111111,9.0,11111,1
11,1934976,8,2372,0,1.0,,0
12,1934976,8,2768,0,1.0,,0
13,1934976,8,4212,0,1.0,,0
15,1607808,91,5862,1,1.0,,1
20,560512,337,2943,11,2.0,,1
21,1871232,337,1040,1111111111,10.0,11111,1
24,1871488,91,493,111,3.0,1,1
25,1871488,91,820,11111111111111,14.0,11111,1
49,1548160,34,3241,11,2.0,,1
50,106624,340,3958,111,3.0,1,1
51,106624,340,820,1111111,7.0,11111,1
77,374144,410,2920,0,1.0,,0
87,1293184,470,1492,111,3.0,1,1
88,1293184,470,7755,1111,4.0,11,1
93,1294720,149,4562,0,1.0,,0
95,1229696,33,5530,1111,4.0,11,1
109,969856,83,6218,1111,4.0,11,1
110,1625216,83,517,0,1.0,,0
111,1035904,340,3540,11,2.0,,1
121,252032,112,1396,0,1.0,,0
122,2021504,340,820,1111111,7.0,11111,1
129,711808,6,171,1111,4.0,11,1
135,57728,11,4388,111,3.0,1,1
141,1172864,195,1913,0,1.0,,0
144,125056,213,820,11111111111,11.0,11111,1
153,1830272,337,4264,111,3.0,1,1
154,1830272,337,820,111111111,9.0,11111,1
...,...,...,...,...,...,...,...
500606,1316735,52,995,0,1.0,,0
500612,1122175,287,278,1111111111111111111,19.0,11111,1
500626,273535,337,5231,11111,5.0,111,1
500627,273535,337,6203,1111111,7.0,11111,1
500628,273535,337,8091,111111,6.0,1111,1
500634,929919,148,4230,00,2.0,,0
500638,341119,98,5897,1,1.0,,1
500648,998783,239,128,11,2.0,,1
500649,998783,239,5196,1,1.0,,1
500650,998783,239,5827,1,1.0,,1
500651,1129855,272,2606,11,2.0,,1
500659,1591935,362,4264,1,1.0,,1
500660,1591935,362,9485,1,1.0,,1
500661,216191,11,4388,1111111,7.0,11111,1
500671,1725823,129,1050,0,1.0,,0
500680,613759,188,2340,1,1.0,,1
500681,613759,188,573,1111,4.0,11,1
500682,613759,63,2340,1,1.0,,1
500683,613759,63,573,1111,4.0,11,1
500690,25215,17,4264,1,1.0,,1
500691,25215,17,5231,11,2.0,,1
500697,1991807,60,4230,0,1.0,,0
500698,1991807,60,5752,0,1.0,,0
500699,1271167,190,3618,11111111111111111111111111111,29.0,11111,1
500700,1271167,190,820,1,1.0,,1
500711,617599,188,6935,1,1.0,,1
500713,93567,330,4242,1111,4.0,11,1
500727,1864575,362,9485,1,1.0,,1
500732,1079423,159,7682,1,1.0,,1
500740,97919,248,5399,0,1.0,,0

In [334]:
len(df4)

473533

In [160]:
# 基于某个位置推荐商家
df3.loc[df3.loc_list=='112']

      budget loc_list mer_ID
1573   100.0      112   2894
1630  1141.0      112   9565
1764   100.0      112   8072
1914   100.0      112   5048
1984   286.0      112   9164
2600   100.0      112   9091
2688   100.0      112    670
2881   100.0      112   1244
3109   100.0      112   3358
3383   100.0      112   1650
3629   100.0      112    704
4445   100.0      112   6327
5098   840.0      112   7812
5196   100.0      112    161
5290   100.0      112   7357
5299   100.0      112   5313
5482   100.0      112   5628
818   7721.0      112   5231
887    417.0      112   4483
1871  7354.0      112   6315
2336  5192.0      112    820
2972   419.0      112   2294
4032  6516.0      112    571
4597  1723.0      112   5095
5050  7962.0      112    118

In [116]:
d = df3.groupby(by=["mer_ID", "loc_list"]).count()
d

                        budget
mer_ID loc_list
1      30                    1
2      441                   1
3      132                   1
4      257                   1
6      175                   1
7      446                   1
8      88                    1
10     446                   1
11     360                   1
12     490                   1
13     202                   1
14     15                    1
15     360                   1
16     340                   1
17     102                   1
18     448                   1
19     32                    1
20     52                    1
22     458                   1
24     216                   1
25     346:348               1
26     404                   1
27     6                     1
28     69:407:17             1
29     463                   1
30     78                    1
31     114                   1
32     360                   1
34     82                    1
35     57                    1
...                        ...
9958   326                   1
9960   17                    1
9962   151                   1
9963   368                   1
9964   15                    1
9965   6                     1
9966   360                   1
9967   327                   1
9968   81:123:8:368:67       1
9970   329                   1
9972   34                    1
9973   1                     1
9974   11                    1
9975   345                   1
9977   416                   1
9978   159                   1
9979   131                   1
9980   81                    1
9984   6                     1
9985   162                   1
9986   445                   1
9987   349                   1
9989   124:369               1
9990   446                   1
9993   287:360               1
9994   88                    1
9995   455                   1
9996   339:155               1
9997   327                   1
9999   333                   1

[5910 rows x 1 columns]

In [151]:
df3.loc[df3.mer_ID=='28']

      budget loc_list mer_ID
5584   100.0       69     28
5584   100.0      407     28
5584   100.0       17     28

In [97]:
df3['loc_list\n'] = df3['loc_list\n'].str.strip('\n')
df3

      mer_ID  budget  loc_list\n
0        128     331         180
1       3712     100          34
2       1409     100         317
3       3201     100         337
4       8577     100         178
5        898     100         348
6       9858    1735         114
7        387     100         337
8       2179     100         272
9       3971     100         364
10      5763     104          88
11      7555     100         377
12      9347     100         246
13      1668     100     215:326
14      3460     100         450
15      2949     100         407
16      4741     445  262:216:33
17      6533     100         239
18      8325     100          34
19       646     100         333
20      4230     100         167
21      6022     100         230
22      7814     132  53:322:355
23       135     100         189
24      5511     514          63
25      7303     100          60
26      9095     271          56
27      1416     100          13
28      3208     100         208
29      5000     100         404
...      ...     ...         ...
5880    6006     100           9
5881    7798     100          85
5882    9590     100         172
5883     119     100          30
5884    1911     100          32
5885    3703     100          49
5886    5495     100          88
5887    7287     100          73
5888    9079     100         146
5889    1400     100          49
5890    6265     100         290
5891     378     100         410
5892    3962     100         355
5893    7546     100           6
5894    5243     100          17
5895    7035     100         471
5896    2940     100         315
5897     637     100         349
5898    2429     100         121
5899    4221     100         442
5900    6013     100          28
5901    7805     100           6
5902     126     100         172
5903    1918     100           6
5904    3710     100         338
5905    7294     100         481
5906    1407     100          33
5907    3199     100           7
5908    4991     100         448
5909    8575     100         272

[5910 rows x 3 columns]

In [68]:
df4.head()

    use_ID loc_ID
0   753792    112
1  1278336    178
2  1409408    461
3   492160    214
4  1671808    481

In [78]:
df3.groupby(by='loc_list\n')['mer_ID'].nunique()

loc_list\n
1        6
10       2
100     15
101      2
102     10
104     21
105     10
106     12
107     12
108     15
109      2
11      19
110      4
111      3
112     17
114     45
115     35
116      1
118      1
119      7
12       4
120      7
121     10
122      2
123     13
124     20
125     32
126      3
127      4
128      2
      ...
7        6
72       6
73      17
74       3
75      28
76      32
77       2
78      13
79       4
8       16
80      12
81       9
82      58
83      31
84      34
85      24
86      12
87       7
88     110
89       7
9       10
91      52
92       5
93      10
94       8
95      10
96       3
97       4
98      10
99      13
Name: mer_ID, Length: 439, dtype: int64

In [55]:
df1.merge(right=df2, how="left", left_on="use_ID", right_on="use_ID")

,use_ID,sel_ID,ite_ID,cat_ID,act_ID,time_x,mer_ID,loc_ID,time_y
0,1700896,237,517990,1,1,2015-07-01,NaN,NaN,NaT
1,1287595,2346,1594650,1,0,2015-07-01,9825,78,2015-10-03
2,662410,517,2274814,1,0,2015-07-01,NaN,NaN,NaT
3,997485,2025,462477,1,0,2015-07-01,NaN,NaN,NaT
4,1975331,5658,1842032,1,0,2015-07-01,NaN,NaN,NaT
5,1119484,5658,1842032,1,0,2015-07-01,NaN,NaN,NaT
6,1164573,1563,1531621,1,0,2015-07-01,NaN,NaN,NaT
7,1596292,4562,2248555,1,0,2015-07-01,NaN,NaN,NaT
8,569560,9113,949497,1,1,2015-07-01,NaN,NaN,NaT
9,1185148,4562,849190,1,0,2015-07-01,573,84,2015-10-03
10,1264644,2920,2184866,1,0,2015-07-01,NaN,NaN,NaT
11,1471635,2670,1314348,1,1,2015-07-01,NaN,NaN,NaT
12,1600906,5376,473882,1,0,2015-07-01,NaN,NaN,NaT
13,1902060,6565,836101,1,0,2015-07-01,3026,188,2015-11-30
14,1902060,6565,836101,1,0,2015-07-01,7667,188,2015-10-20
15,1902060,6565,836101,1,0,2015-07-01,7667,188,2015-10-11
16,1902060,6565,836101,1,0,2015-07-01,7312,188,2015-10-27
17,1902060,6565,836101,1,0,2015-07-01,7312,188,2015-10-25
18,1902060,6565,836101,1,0,2015-07-01,7312,188,2015-10-23
19,1902060,6565,836101,1,0,2015-07-01,7312,188,2015-11-19
20,1902060,6565,836101,1,0,2015-07-01,7312,188,2015-11-30
21,752078,992,860479,1,0,2015-07-01,NaN,NaN,NaT
22,838526,6130,1200334,1,0,2015-07-01,NaN,NaN,NaT
23,1822586,1396,966899,1,0,2015-07-01,NaN,NaN,NaT
24,1635093,2154,2297172,1,0,2015-07-01,NaN,NaN,NaT
25,1085163,441,957373,1,0,2015-07-01,9664,192,2015-11-14
26,1085163,441,957373,1,0,2015-07-01,9664,192,2015-11-08
27,1085163,441,957373,1,0,2015-07-01,9664,192,2015-10-26
28,1635093,2154,2297172,1,0,2015-07-01,NaN,NaN,NaT
29,202797,3469,2169134,1,0,2015-07-01,6062,228,2015-11-03
...,...,...,...,...,...,...,...,...,...
105830,1788728,4058,1910904,1,0,2015-11-30,7755,17,2015-11-24
105831,1559006,2407,1410350,1,1,2015-11-30,NaN,NaN,NaT
105832,1788728,4058,1910904,1,0,2015-11-30,7755,17,2015-11-24
105833,1925201,161,2145059,1,1,2015-11-30,NaN,NaN,NaT
105834,1788728,4058,1910904,1,0,2015-11-30,7755,17,2015-11-24
105835,1788728,4058,1910904,1,0,2015-11-30,7755,17,2015-11-24
105836,1788728,4058,1910904,1,0,2015-11-30,7755,17,2015-11-24
105837,1614819,8157,1937157,1,0,2015-11-30,NaN,NaN,NaT
105838,1693692,7855,2101908,1,0,2015-11-30,NaN,NaN,NaT
105839,65166,161,2145059,1,0,2015-11-30,NaN,NaN,NaT
105840,1580618,9127,1850767,1,1,2015-11-30,NaN,NaN,NaT
105841,132189,3083,1693945,1,0,2015-11-30,NaN,NaN,NaT
105842,910458,7855,2101908,1,0,2015-11-30,NaN,NaN,NaT
105843,1580618,9127,1850767,1,1,2015-11-30,NaN,NaN,NaT
105844,122132,517,1377157,1,0,2015-11-30,NaN,NaN,NaT
105845,718484,9958,841844,1,0,2015-11-30,NaN,NaN,NaT
105846,1424461,8168,2336302,1,0,2015-11-30,NaN,NaN,NaT
105847,1613634,6284,1223571,1,0,2015-11-30,NaN,NaN,NaT
105848,536501,6238,1029323,1,1,2015-11-30,NaN,NaN,NaT
105849,650231,6785,1122575,1,0,2015-11-30,7926,132,2015-08-01
105850,650231,6785,1122575,1,0,2015-11-30,7926,132,2015-07-15
105851,650231,6785,1122575,1,0,2015-11-30,7926,132,2015-07-04
105852,650231,6785,1122575,1,0,2015-11-30,7926,132,2015-08-20
105853,650231,6785,1122575,1,0,2015-11-30,7926,132,2015-07-20
105854,650231,6785,1122575,1,0,2015-11-30,7926,132,2015-07-28
105855,1041746,441,2233687,1,1,2015-11-30,NaN,NaN,NaT
105856,1577592,3469,2169134,1,0,2015-11-30,NaN,NaN,NaT
105857,1230155,889,2085406,1,0,2015-11-30,NaN,NaN,NaT
105858,1754467,161,2145059,1,0,2015-11-30,NaN,NaN,NaT
105859,669258,2316,1574355,1,0,2015-11-30,9485,362,2015-11-22